html { height: 100%; }
body { height: 100%; }

*:focus {
    outline: 0 !important;
}

.hidden { display: none !important; }

.navbar { height: 55px; border-color: #111; }

h1 { margin: 4px 0 0; }
h1 a:hover, h1 a:focus { text-decoration: none; }
h1 small { font-size: 12px; }

.geographr-color {
    color: #e2ebf5; text-shadow: none; -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left top, #6a8c46, #aeac66);
    background: -o-linear-gradient(transparent, transparent); -webkit-background-clip: text;
}

#loginForm { margin-right: -30px; }
#loginForm input { width: 150px; margin-right: 8px; }
p.navbar-right { margin: 0 -15px 0 0; line-height: 53px; }

#mainContainer {
    width: 1204px;
    height: 628px;
}

.canvas-container {
    width: 902px;
    height: 600px;
    float: left;
}
canvas { display: block; }
.side { width: 302px; }
#minimap, #eventCanvases, #zoomCanvases, #eventTutorial { position: relative; }
#minimap, #eventCanvases, #eventTutorial { height: 300px; } #zoomCanvases { height: 604px; }

#gridView {
    width: 295px; height: 295px;
    margin-top: 4px;
    border: 1px solid #7a8288;
    text-align: center;
    border-collapse: separate;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gridView td { border: 1px solid #50575c; width: 98px; height: 98px; cursor: pointer; }
#gridView td:hover { border: 2px solid #666f75; background-color: #383e45; }
#gridView td.selected { border: 2px solid #909ea8; background-color: #30363d; }
#gridView td.selected:hover { border: 2px solid #778187; background-color: #3d434c; }

.canvas-container canvas { position: absolute; }

.checkbox-inline * { cursor: pointer !important; }
.coords .checkbox-inline { padding-top: 0; }
.coords .checkbox-inline label { font-weight: normal; }

#controls {
    width: 196px; height: 216px;
    padding: 8px;
    position: absolute;
    right: 2px;
    bottom: 28px;
}

#controls button { 
    width: 60px; height: 60px;
    float: left; 
    font-size: 2em;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
}
#controls .progress { width: 100%; opacity: 0.7; margin: 2px 0 6px; }
#controls .progress .progress-bar { -webkit-transition: width 0s; transition: width 0s; }
#controls #moveUp, #controls #moveDown { margin: 0 60px; padding-top: 11px; }
#controls #moveLeft { margin: 0 10px 0 0; padding-top: 11px; }
#controls #moveStartStop, #controls #lookAround { 
    width: 40px; height: 40px; margin: 10px 10px 0 0; padding: 8px 0; font-size: 1em; }
#controls #moveRight { padding-left: 16px; padding-top: 11px; }
#controls #moveDown { padding-left: 16px; padding-top: 13px; margin-right: 20px; }
#controls #moveClear { padding-left: 6px; padding-top: 1px; width: 40px; height: 20px; margin-top: 40px; 
    font-size: 0.8em; }

.hard-left { padding-left: 0; } .hard-right { padding-right: 0; }

#uiContainer { top: 0; margin-bottom: 16px; }

.change-effect { text-shadow: 0 0 0 rgba(255,255,255,0); line-height: 1.1em; }
.actions { display: none; }

#eventHUD { margin-top: -28px; min-height: 26px; }
#eventHUD p { padding-top: 2px; margin-bottom: 8px; }
#eventHUD .checkbox-inline { margin-left: 4px; }
#eventHUD .event-products button { margin: 0 4px 4px 0; color: white; 
    text-shadow: 0 1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 0 1px #000; }
#eventHUD .event-products button:hover { background-color: #24272b !important; }

.skills, .stats { width: 100%; }
.skills .progress, .stats .progress { width: 130px; margin: 4px 0; float: right; }
.stats .progress { width: 180px; }
.stats .progress .progress-bar { 
    background-color: #858550; 
    -webkit-transition: background-color 0.6s ease, width 0.6s ease; 
    transition: background-color 0.6s ease, width 0.6s ease; 
}
.stats .progress .progress-bar.hungry { background-color: #853436; }
.stats .progress .progress-bar.full { background-color: #49854d; }

#uiContainer #autoEat td { padding-top: 8px; }
#uiContainer #autoEat table { width: 100%; }
#uiContainer #autoEat table tr th { font-weight: normal; }
#uiContainer #autoEat table tr th h3 { margin-bottom: 6px; color: #909ea8; }
#uiContainer #autoEat table tr td { padding: 0; }
#uiContainer #autoEat table tr td .checkbox-inline { padding-top: 0; height: 20px; }

.object-well>button { margin-top: -5px; }
.object-well table { width: 100%; margin-top: 10px; }
.object-well .well { margin: 4px 0; }
.object-well .well .input-group-sm > .form-control { height: 20px; padding: 0 3px; }
.object-well .well .input-group-sm > .input-group-btn > .btn { height: 22px; padding: 0 10px; }

#inventory table.unstyled { width: 100%; }
#inventory table.unstyled tr.last-of-type { border-bottom: 1px solid #50575c; }
#inventory table.unstyled tr.last-of-type td { padding-bottom: 3px; }

#inventory table.unstyled tr.actions .well { 
    padding-left: 12px; padding-right: 12px;
    margin-top: 4px; margin-bottom: 2px;
}
#inventory table.unstyled tr.actions .well .input-group-sm > .form-control { height: 20px; padding: 0 3px; }
#inventory table.unstyled tr.actions .well .input-group-sm > .input-group-btn > .btn { height: 22px; padding: 0 10px; }

#uiContainer #inventory td.quantity { width: 52px; padding-right: 18px; }

#objectInfo p { margin-bottom: 6px; }

.table-tiny { font-size: 0.8em; width: 100%; }
.table-tiny td { padding: 0 !important; }

ul#log { font-size: 11px; }
ul#log li { margin-bottom: 0; }

#uiContainer li { margin-bottom: 3px; }
#uiContainer li button {
    position: relative; top: -1px;
    padding: 1px 5px 3px;
}

button .glyphicon { margin-right: 3px; }

.attach-top { position: relative; top: -6px; }

#uiContainer table.unstyled { background: transparent; }
#uiContainer table.unstyled tr td { padding: 2px 6px 0 0; border: none; color: #999; }
strong { color: #ccc; }

.item-color {
    border: 1px solid black;
    width: 16px; height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 4px;
}

.attach-top { position: relative; top: -6px; }

#objectInfo .well { padding-bottom: 5px; display: inline-block; }
h3 { font-size: 16px; margin: 0 0 10px; color: #737880; }
#objectInfo ul { margin-bottom: 0; }
#objectInfo li button {
    position: relative; top: -1px;
    padding: 1px 5px 2px;
}

#uiContainer table.unstyled.scoreboard tr td { padding: 0 6px; font-size: 0.9em; }
#uiContainer table.unstyled.scoreboard tr.active td { background-color: #31353a; }


#commits { float: left; position: absolute; z-index: 9999; width: 900px; padding-top: 8px; }

#commits table tr td { color: #C8C8C8; }
#commits table tr td:first-child { width: 120px; }

/* --- Bootstrap Overrides --- */

p { color: #999; }
h2 { color: #aaa; font-size: 18px; line-height: 22px; margin-top: 6px; }
h2 small { font-size: 14px; margin-left: 12px; }
.text-warning strong { color: #f8a416; }
.text-warning small { color: #d89416; }
.well { padding: 8px; background-color: #24272b; border-color: #1b1e21; }
.progress { height: 12px; margin-bottom: 12px; margin-top: 4px; }
.navbar { margin-bottom: 4px; border-radius: 0; }

/* --- Unresponsive Bootstrap --- */

.container {
    position: relative;
    max-width: none !important;
    width: 1200px;
    padding: 0;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar .open .dropdown-menu > li > a {
    color: #333;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

/* Custom scrollbar for Chrome */
::-webkit-scrollbar { width: 18px; }
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: rgba(58,62,67,0.8);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(58,62,67,0.4);
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* Text selection color */
::-moz-selection { color: #fff;  background: rgba(28,34,41,0.8); } 
::selection      { color: #fff;  background: rgba(28,34,41,0.8); } 