html { height: 100%; }
body { height: 100%; }

*:focus {
    outline: 0 !important;
}

.hidden { display: none !important; }

.navbar { height: 55px; border-color: #111; }

h1 { margin: 4px 0 0; }
h1 a:hover, h1 a:focus { text-decoration: none; }
h1 small { font-size: 12px; }

.geographr-color {
    color: #e2ebf5; text-shadow: none; -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left top, #6a8c46, #aeac66);
    background: -o-linear-gradient(transparent, transparent); -webkit-background-clip: text;
}

#loginForm { margin-right: -30px; }
#loginForm input { width: 150px; margin-right: 8px; }
p.navbar-right { margin: 0 -15px 0 0; line-height: 53px; }

#mainContainer {
    width: 1204px;
    padding: 4px 0 0;
}

.canvas-container {
    width: 902px;
    float: left;
}
.minimap { width: 302px; }
.minimap .coords { margin: -2px 0 2px; }

canvas { position: relative; }
#fullPingCanvas, #fullFogCanvas, #fullHighCanvas, #fullObjectCanvas, 
    #zoomFogCanvas, #zoomHighCanvas, #zoomObjectCanvas { position: absolute; top: -5000px; }

.coords .checkbox-inline { padding-top: 0; }
.coords .checkbox-inline label { font-weight: normal; }

.hard-left { padding-left: 0; } .hard-right { padding-right: 0; }

#uiContainer { top: 0; }

#info { margin-bottom: 10px; }
#info h2 { color: #c8c8c8; font-size: 20px }

#gridView {
    width: 274px;
    height: 274px;
    border: 1px solid #7a8288;
    text-align: center;
    border-collapse: separate;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gridView td { border: 1px solid #50575c; width: 91px; height: 91px; cursor: pointer; }
#gridView td:hover { border: 2px solid #666f75; background-color: #383e45; }

ul#log { font-size: 11px; }
ul#log li { margin-bottom: 0; }

#uiContainer li { margin-bottom: 3px; }
#uiContainer li button {
    position: relative; top: -1px;
    padding: 1px 5px 3px;
}

#scoreboard table { margin-bottom: 0; }

button .glyphicon {
    margin-right: 3px;
}

.attach-top { position: relative; top: -6px; }

#uiContainer table.unstyled { background: transparent; }
#uiContainer table.unstyled tr td { padding: 2px 6px 0 0; border: none; color: #999; }
strong { color: #ccc; }

.item-color {
    border: 1px solid black;
    width: 16px; height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 4px;
}

button .glyphicon {
    margin-right: 3px;
}

.attach-top { position: relative; top: -6px; }

#objectInfo .well { padding-bottom: 5px; display: inline-block; }
#objectInfo h3 { font-size: 16px; margin: 0 0 10px; color: #737880; }
#objectInfo ul { margin-bottom: 0; }
#objectInfo li button {
    position: relative; top: -1px;
    padding: 1px 5px 2px;
}

#commits { float: left; position: absolute; z-index: 9999; width: 880px; padding-top: 8px; }

#commits table tr td { color: #C8C8C8; }
#commits table tr td:first-child { width: 110px; }

/* --- Bootstrap Overrides --- */

p { color: #999; }
h2 { color: #aaa; font-size: 18px; line-height: 22px; margin-top: 6px; }
h2 small { font-size: 14px; margin-left: 12px; }
.text-warning strong { color: #f8a416; }
.text-warning small { color: #d89416; }
.well { padding: 8px; background-color: #24272b; border-color: #1b1e21; }
.progress { height: 12px; margin-bottom: 12px; margin-top: 4px; }
.navbar { margin-bottom: 4px; border-radius: 0; }

/* --- Unresponsive Bootstrap --- */

.container {
    position: relative;
    max-width: none !important;
    width: 1200px;
    padding: 0;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar .open .dropdown-menu > li > a {
    color: #333;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

/* Custom scrollbar for Chrome */
::-webkit-scrollbar { width: 18px; }
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: rgba(58,62,67,0.8);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(58,62,67,0.4);
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}