html { height: 100%; }
body { height: 100%; }

*:focus { outline: 0 !important; }
.hidden { display: none !important; }
.wide { width: 100% !important; }

.navbar { height: 55px; border-color: #111; }


h1 { margin: 4px 0 0; }
h1 a:hover, h1 a:focus { text-decoration: none; }
h1 small { font-size: 12px; }

/*noinspection ALL*/
.geographr-color { color: #e2ebf5; text-shadow: none; -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left top, #6a8c46, #aeac66);
    background: -o-linear-gradient(transparent, transparent); -webkit-background-clip: text; }
#loginForm { margin-right: -30px; }
#loginForm input { width: 150px; margin-right: 8px; }
p.navbar-right { margin: 0 -15px 0 0; line-height: 53px; }
#mainContainer { width: 1204px; height: 628px; }
.canvas-container { width: 902px; height: 600px; float: left; } canvas { display: block; }
.side { width: 302px; }
#minimap, #eventCanvases, #zoomCanvases, #eventTutorial { position: relative; }
#minimap, #eventCanvases, #eventTutorial { height: 300px; } #zoomCanvases { height: 604px; }

#gridView { width: 295px; height: 295px; margin-top: 4px; border: 1px solid #7a8288; text-align: center;
    border-collapse: separate; -webkit-touch-callout: none; -webkit-user-select: none; 
    -khtml-user-select: none; user-select: none; }

#gridView td { border: 1px solid #50575c; width: 98px; height: 98px; cursor: pointer; }
#gridView td:hover { border: 2px solid #666f75; 
    background-color: #383e45; color: #fff; }
#gridView td.forage { border: 2px solid #7aa87d; background-color: #2f3d30; }
#gridView td.forage:hover { background-color: #273227; }
#gridView td.hunt { border: 2px solid #a88986; background-color: #3d2d2c; }
#gridView td.hunt:hover { background-color: #332625; }
#gridView td.mine { border: 2px solid #a8a493; background-color: #3d3c38; }
#gridView td.mine:hover { background-color: #31302d; }
#gridView td.campfire { border: 2px solid #8f7e71; background-color: #3f3731; }
#gridView td.campfire:hover { background-color: #312b26; }
#gridView td.dry, #gridView td.dry:hover { border: 2px solid #666f75; background-color: #393c3f; 
    color: #666f75; cursor: default; }
#gridView td .progress { margin: 3px 8px !important; }
.canvas-container canvas { position: absolute; }
.checkbox-inline * { cursor: pointer !important; }
.coords label { font-weight: normal; }
.coords .checkbox-inline { padding-top: 0; }
.muted-select { background-color: #232627; padding: 0 4px 2px; height: 24px; margin-left: 6px;
    color: rgb(139, 139, 139); border-color: transparent; display: inline-block; width: auto;
    box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.2);
}

#controls { width: 196px; height: 216px; padding: 8px; position: absolute; right: 2px; bottom: 28px; }
#controls button { width: 60px; height: 60px; float: left; font-size: 2em; 
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);}
#controls .progress { width: 100%; opacity: 0.7; margin: 2px 0 6px; }
#controls .progress .progress-bar { -webkit-transition: width 0s; transition: width 0s; }
#controls #moveUp, #controls #moveDown { margin: 0 20px 0 60px; padding-top: 11px; padding-right: 14px; }
#controls #moveLeft { margin: 0 10px 0 0; padding-top: 11px; }
#controls #moveStartStop, #controls #lookAround { 
    width: 40px; height: 40px; margin: 10px 10px 0 0; padding: 8px 0; font-size: 1em; }
#controls #moveRight { padding-left: 13px; padding-top: 11px; }
#controls #moveDown { padding-left: 16px; padding-top: 13px; }
#controls #moveClear, #controls #moveUndo { padding-left: 6px; padding-top: 1px; width: 40px; 
    height: 20px; margin-top: 40px; font-size: 0.8em; }
#controls #moveUndo { padding-left: 9px; padding-top: 5px; height: 40px; margin-top: 0; font-size: 1.4em; }

.hard-left { padding-left: 0 !important; } .hard-right { padding-right: 0 !important; }

#uiContainer { top: 0; margin-bottom: 16px; height: 600px; }

button.btn-item, .label { margin: 0 4px 0 0; color: white; border-radius: 5px;
    text-shadow: 0 1px 1px #000, 1px 0 1px #000,
    1px 1px 1px #000, 0 0 1px #000;
}
button.btn-item:hover { background-color: #24272b !important; }
div.label { display: inline-block; cursor: default; }
.label { cursor: default; font-size: 1em; padding: 0 0.4em 0.2em; border-radius: 2px; font-weight: normal; }
.big-label { padding: 0.2em 0.4em 0.2em; border-radius: 3px; }
.bigger-label { padding: 0.2em 0.5em 0.3em; border-radius: 5px; }

.change-effect { text-shadow: 0 0 0 rgba(255,255,255,0); line-height: 1.1em; }
.actions { display: none; }
.show-if-last { display: none; }
.show-if-last:last-child { display: table-row; }

#commits { float: left; position: absolute; z-index: 9999; width: 926px; padding-left: 12px; }
#commits table tr td { color: #C8C8C8; }
#commits table tr td:first-child { width: 120px; }

#eventHUD { margin-top: -28px; min-height: 26px; }
#eventHUD .row { margin-top: 8px; }
#eventHUD p { padding-top: 2px; margin-bottom: 8px; }
#eventHUD .checkbox-inline { margin-left: 4px; }
#eventHUD button.btn-item { margin-bottom: 4px; }

#info { margin-bottom: 12px; }

.skills, .stats { width: 100%; }
.skills .progress, .stats .progress { width: 130px; margin: 4px 0; float: right; }
.stats tr:first-child td:not(:first-child):not(:last-child) { width: 70px; }
.stats .progress { width: 100px; } 
.stats .progress .progress-bar, .equipment.label .progress .progress-bar {
    background-color: #858550;
    -webkit-transition: background-color 0.6s ease, width 0.6s ease;
    transition: background-color 0.6s ease, width 0.6s ease;
}
.equipment.label { box-shadow: 1px 1px 3px rgba(0,0,0,0.5); }
.equipment.label .progress, #gridView td .progress { 
    height: 6px; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 1px black; margin: 6px 0 1px; 
    border-radius: 1px; } 

#autoEat td { padding-top: 8px; }
#autoEat table { width: 100%; margin-bottom: 0; }
#autoEat table tr th { font-weight: normal; }
#autoEat table tr th h3 { margin-bottom: 6px; color: #909ea8; }
#autoEat table tr td { padding: 0; }
#autoEat table tr td .checkbox-inline { padding-top: 0; height: 20px; }

.action-row { height: 24px; margin-bottom: 6px; }
select.num-select { 
    width: 58px; padding: 0 4px; height: 24px; margin-right: 8px; float: left; background-color: #dfe5eb; }
select.num-select + .btn-group.btn-group-xs { margin-top: 1px; line-height: 22px; }
select.num-select + .btn-group.btn-group-xs .btn:last-of-type { margin-right: 10px; }

#campfire table.unstyled { width: 100%; }
#campfire table.unstyled tr th { padding-right: 0; }
#campfire table.unstyled tr td { padding: 5px 0 0; }
#campfire .label { font-size: 0.9em; position: relative; top: -2px; padding-top: 1px; }
#campfire select.num-select + .btn-group.btn-group-xs .btn:last-of-type { margin-right: 0; }

.btn.primary { font-weight: bold; padding: 1px 7px; }

.camp-ui.well { min-height: 52px; padding-bottom: 0; }
.heading { margin-bottom: 1em; }
.camp-ui h3 { color: #778187; font-size: 1.3em; margin-top: 8px; }
.inline-header { display: inline; margin-right: 3em; }
.btn-market, .btn-blacksmith { padding: 0.5em 0.8em; margin-left: 0.6em; margin-bottom: 0.3em; }
.btn-market {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6C6D53), to(#4C4D36));
    background-image: -webkit-linear-gradient(#6C6D53, #4C4D36);
    background-image: linear-gradient(#6C6D53, #4C4D36);
}
.btn-market + div { font-size: 0.9em; }
.btn-market + div.checkbox-inline { padding-top: 8px; margin-left: 24px; }
.btn-blacksmith + div { height: 40px; width: 100px; font-size: 0.9em; }
.btn-blacksmith {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#575757), to(#3c3c3c));
    background-image: -webkit-linear-gradient(#575757, #3c3c3c);
    background-image: linear-gradient(#575757, #3c3c3c);
}
.market, .blacksmith { margin: 4px 0 18px 2px; border-top: 1px solid #464f57; }
.market.last-section, .blacksmith.last-section { margin-bottom: 6px; }
.market *, .blacksmith * { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
    user-select: none; }
.camp-section-header { float: left; margin: -14px 0 0; background: #24272b; padding-right: 8px; }
.camp-section-header h4, .camp-section-header label { display: inline-block; margin: 0; }
.camp-section-header label { margin-left: 20px; }
.camp-section-header label input { position: relative; top: 2px; margin-right: 4px; }
.market>h4+div { clear: both; }
.market>div:nth-last-child(2) { margin-top: 8px; }
.market .stalls-min { width: 104px; float: left; }
.market .stall { 
    font-size: 0.9em; float: left; cursor: pointer; margin: 13px 18px 10px 0; background: #393c3f; padding: 0 3px;
    width: 128px; height: 94px; box-shadow: 1px 1px 3px rgba(0,0,0,0.5); transition: background-color 0.06s ease;
}
.market .stall.stall:hover:not(.stall-open) { background: #2d2e33 !important; }
.market .stall:nth-child(4), .market .stall:nth-child(8) { margin-right: 0; }
.market .stall.stall-open { 
    opacity: 0; cursor: default; margin: 4px 10px 0 0; padding: 0; width: auto; height: auto;
    background: none; box-shadow: none;
}
.market .stall.stall-open .stall-content {
    width: 447px; height: 1px; cursor: default; background: #393c3f; padding-top: 6px; padding-left: 5px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
.market .stall.stall-open.pull-right { margin: 4px 0 8px 10px; }
.market .stall.stall-min { width: 47px; height: 37px; margin: 4px 10px 8px 0; padding: 1px 3px; }
.market .stall.stall-min:nth-child(2), .market .stall.stall-min:nth-child(4), 
.market .stall.stall-min:nth-child(6), .market .stall.stall-min:nth-child(8),
.market .stall.stall-min:nth-child(10), .market .stall.stall-min:nth-child(12),
.market .stall.stall-min:nth-child(14), .market .stall.stall-min:nth-child(16){ margin-right: 0; }
.market .stall.stall-min.stall-selected { background: #24272b !important; }
.market .stall .canvas { 
    height: 7px; width: 132px;
    background-image: url('../img/stripe.png'); background-size: 12px 1px;
    top: -7px; left: -5px; position: relative; box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    border-top-left-radius: 3px; border-top-right-radius: 3px;
}
.market .stall.stall-open .canvas {
    width: 451px; height: 16px; left: -2px; top: 0; background-size: 22px 1px; cursor: pointer; 
    border-top-left-radius: 10px; border-top-right-radius: 10px; box-shadow: 1px 3px 6px rgba(0,0,0,0.5); 
    transition: background-color 0.3s ease;
}
.market .stall.stall-min .canvas {
    width: 49px; height: 4px; background-size: 4px 1px; top: -5px; left: -4px;
    border-top-left-radius: 2px; border-top-right-radius: 2px; box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.market .stall .canvas.no-stripes { background-image: none; }
.market .stall ul, .market .stall ul li { margin-bottom: 0; margin-top: -1px; }
.market .stall.stall-1cat ul { margin-top: -2px; }
.market .stall.stall-1cat ul li { width: 100%; padding: 0 8px; }
.market .stall.stall-1cat ul li h4 { float: left; font-size: 1.1em; margin: 6px 0 6px; }
.market .stall.stall-1cat ul li strong { float: right; font-size: 1.2em; margin-top: 5px; }
.market .stall.stall-1cat ul li>div>div { float: none; clear: both; width: 100%; padding-left: 1px; }
.market .stall.stall-1cat ul li>div>div .color-square { 
    width: 27px; height: 27px; margin-top: 0; padding: 3px 1px 0 0; text-align: center; }
.market .stall.stall-1cat ul li>div>div .color-square span { font-size: 1.2em; color: white; 
    font-weight: bolder; text-shadow: 0 1px 1px rgba(0,0,0,0.7), 1px 0 1px rgba(0,0,0,0.7), 
    1px 1px 1px rgba(0,0,0,0.7), 0 0 1px rgba(0,0,0,0.7); }
.market .stall.stall-2cat ul { margin-top: -1px; }
.market .stall.stall-2cat ul li { width: 100%; padding: 0 7px; margin-bottom: 4px; }
.market .stall.stall-2cat ul li h4 { float: left; font-size: 1.1em; margin: 2px 0; }
.market .stall.stall-2cat ul li strong { float: right; font-size: 1.2em; margin-top: 1px; }
.market .stall.stall-2cat ul li>div>div { float: none; clear: both; width: 100%; padding-left: 2px; }
.market .stall.stall-2cat ul li>div>div .color-square { 
    width: 14px; height: 14px; margin-top: 3px !important; }
.market .stall.stall-3cat ul li>div>div.double-row, 
.market .stall.stall-4cat ul li>div>div.double-row { margin-top: -1px }
.market .stall.stall-3cat ul li h4, .market .stall.stall-4cat ul li h4 { font-size: 1em; margin: 2px 1px; }
.market .stall.stall-5cat ul, .market .stall.stall-6cat ul { margin-top: -7px; }
.market .stall.stall-5cat ul li, .market .stall.stall-6cat ul li { margin-bottom: -1px; }
.market .stall.stall-5cat ul li h4, .market .stall.stall-6cat ul li h4 { font-size: 0.9em; margin: 0; }
.market .stall.stall-min div { margin-top: 2px; }
.market .stall ul li { line-height: 1.3em; width: 61px; margin-bottom: 6px; padding: 0 5px 0 0; }
.market .stall ul li strong { font-size: 0.9em; width: 18px; display: inline-block; margin-right: 1px;
    float: left; color: rgb(142, 145, 146); text-align: right; }
.market .stall ul li>div>div { width: 28px; float: right; }
.market .stall .color-square { 
    float: left; width: 10px; height: 10px; margin: 3px 0 -1px -1px; border: 1px solid #000; }
.market .stall.stall-3cat .double-row .color-square, .market .stall.stall-4cat .double-row .color-square { 
    margin-top: 0; }
.market .stall.stall-min .color-square { float: left; margin: 0 -1px -1px 0; width: 11px; height: 11px; }
.market .stall .color-square.pelt { box-shadow: inset 0 0 4px 3px rgba(46,25,0,0.7); }
.market .stall .color-square.meat { box-shadow: inset 0 0 4px 3px rgba(151,45,65,0.7); }
.market .stall.stall-2cat .color-square.pelt { box-shadow: inset 0 0 2px 2px rgba(46,25,0,0.7); }
.market .stall.stall-2cat .color-square.meat { box-shadow: inset 0 0 2px 2px rgba(151,45,65,0.7); }
.market .stall.stall-3cat .color-square.pelt, .market .stall.stall-4cat .color-square.pelt,
.market .stall.stall-5cat .color-square.pelt, .market .stall.stall-6cat .color-square.pelt{ 
    box-shadow: inset 0 0 1px 1px rgba(46,25,0,0.7); }
.market .stall.stall-3cat .color-square.meat, .market .stall.stall-4cat .color-square.meat,
.market .stall.stall-5cat .color-square.meat, .market .stall.stall-6cat .color-square.meat{ 
    box-shadow: inset 0 0 1px 1px rgba(151,45,65,0.7); }
.market .stall .color-square.out-of-stock {
    box-shadow: inset 0 0 8px 3px rgba(50,50,50,0.8), inset 0 0 0 30px rgba(100,100,100,0.4); }
/* Goods */
.market .goods-min, .blacksmith .minerals-min { width: 308px; float: left; padding-top: 20px; }
.market .stall.stall-open .good { 
    display: block; float: left; width: 101px; height: 85px; margin: 6px 4px; text-align: center; 
    cursor: pointer; border-radius: 4px; text-shadow: 0 1px 1px rgba(0,0,0,0.7), 1px 0 1px rgba(0,0,0,0.7),
    1px 1px 1px rgba(0,0,0,0.7), 0 0 1px rgba(0,0,0,0.7); 
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5); transition: background-color 0.06s ease;
}
.market .stall.stall-open .good.out-of-stock { background-color: rgba(100,100,100,0.5) !important; }
.market .stall.stall-open .good.out-of-stock h4 { color: #aaa; text-shadow: none; }
.market .stall.stall-open .good.out-of-stock p { color: #888; text-shadow: none; }
.market .stall.stall-open .good.out-of-stock p strong { text-shadow: none; }
.market .stall.stall-open .good.pelt { 
    box-shadow: inset 0 0 4px 3px rgba(46,25,0,0.7), 1px 1px 3px rgba(0,0,0,0.5); }
.market .stall.stall-open .good.meat { 
    box-shadow: inset 0 0 4px 3px rgba(151,45,65,0.7), 1px 1px 3px rgba(0,0,0,0.5); }
.market .stall.stall-open .good:hover:not(.good-open), 
.blacksmith .mineral:hover:not(.mineral-open):not(.mineral-refine) { background: #2d2e33 !important; }
.market .stall.stall-open .good.good-open { 
    width: 120px; height: 1px; opacity: 0; border-radius: 6px; cursor: default; }
.market .stall.stall-open .good.good-min { width: 69px; height: 65px; border-radius: 2px; padding-top: 2px;
    transition: background-color 0.1s ease; }
.market .stall.stall-open .good.good-min.good-selected {
    background: #24272b !important; box-shadow: none; }
.market .stall.stall-open .good h4, .blacksmith .mineral h4 { 
    margin: 8px 0 3px; color: white; font-size: 1.2em;
    text-shadow: 0 1px 2px #000, 1px 0 2px #000,
    1px 1px 2px #000, 0 0 2px #000;
}
.market .stall.stall-open .good.good-open h4, .blacksmith .mineral.mineral-open h4 { 
    margin: 6px 0 5px; font-size: 1.4em; }
.market .stall.stall-open .good.good-min h4 { 
    margin: 2px 0; font-size: 0.9em; }
.market .stall.stall-open .good h4 small { font-size: 0.7em; color: rgba(255,255,255,0.7);
    text-shadow: 0 1px 2px rgba(0,0,0,0.7), 1px 0 2px rgba(0,0,0,0.7), 
    1px 1px 2px rgba(0,0,0,0.7), 0 0 2px rgba(0,0,0,0.7); }
.market .stall.stall-open .good p, .blacksmith .mineral p { 
    margin-bottom: 0; color: #DDD; font-size: 1.1em; white-space: nowrap; }
.market .stall.stall-open .good p strong.text-danger, .blacksmith .mineral p strong.text-danger { 
    color: rgb(224, 89, 89); }
.market .stall.stall-open .good.good-open p, .blacksmith .mineral.mineral-open p { 
    font-size: 1.15em; margin: 0; line-height: 1.45em; }
.market .stall.stall-open .good.good-open p+p { font-size: 1em; }
.market .stall.stall-open .good.good-min p { margin-bottom: 0; font-size: 1em; }
.market .stall.stall-open .good strong, .blacksmith .mineral strong { 
    color: #f3f3f3; font-size: 1.2em; 
    text-shadow: 0 1px 1px rgba(0,0,0,0.9), 1px 0 1px rgba(0,0,0,0.9), 
    1px 1px 1px rgba(0,0,0,0.9), 0 0 1px rgba(0,0,0,0.9); }
.market .stall.stall-open .good.good-open strong { color: #f8f8f8; font-size: 1.3em; }
.market .stall.stall-open .good.good-open select.num-select, 
.blacksmith .mineral.mineral-open select.num-select {
    float: none; margin: 3px auto; width: 70px; height: 30px; padding: 0 6px; font-size: 1.1em; border: none;
    font-weight: bold; box-shadow: inset 1px 2px 6px rgba(0,0,0,0.45), inset 1px 1px 1px rgba(0,0,0,0.3); }
.market .stall.stall-open .good.good-open.has-error select.num-select,
.blacksmith .mineral.mineral-open.has-error select.num-select:not(.no-error) { border: 1px solid #ee5f5b; 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ee5f5b; }
.market .stall.stall-open .good.good-open button, .blacksmith .mineral.mineral-open button {
    width: 70px; height: 36px; margin-top: 5px; font-size: 1.2em; font-weight: bold;
    color: white; background: rgba(0,0,0,0.4); border-color: transparent; border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.8); transition: background-color 0.08s ease;
}
.market .stall.stall-open .good.good-open button:hover, .blacksmith .mineral.mineral-open button:hover {
    background: rgba(0,0,0,0.5); box-shadow: 1px 1px 3px rgba(0,0,0,0.9); }
.market .stall.stall-open .good.good-open button:active, .blacksmith .mineral.mineral-open button:active {
    background: rgba(255,255,255,0.1); box-shadow: 1px 1px 3px #000; }
.market .stall.stall-open .good.good-open button[disabled], 
.blacksmith .mineral.mineral-open button[disabled] { 
    background: rgba(0,0,0,0.2); color: #aaa; box-shadow: none; }
/* Player Stall */
.market .stall.stall-new p { margin-top: 21px; font-size: 1.2em; color: #ccc; }
.market .stall.stall-new.stall-min p { margin-top: -1px; }
.market .stall.stall-new p i { margin: 0 1px 0 4px; font-size: 1.2em; color: #ddd; top: 3px; }
.market .stall.stall-new.stall-min { margin-right: 0; }
.market .stall.stall-new.stall-min p i { margin-left: 12px; }
.market .stall.stall-setup .goods-min { width: 234px; margin-top: -8px; }
.market .stall.stall-setup .good.good-min { margin: 4px; height: 52px; }
.market .stall.stall-setup .good.good-min h4 { margin-top: 0; }
.market .stall.stall-setup .good.good-min p { font-size: 0.9em; margin-top: -3px; }
.market .stall.stall-setup .good.good-min.good-new p { margin-top: 2px; }
.market .stall.stall-setup .good.good-new { background: #2f3133; }
.market .stall.stall-setup .good.good-new p i { margin: 4px; font-size: 2em; }
.market .stall.stall-setup .good.good-setup { width: 200px; position: relative; }
.market .stall.stall-setup .good.good-setup h4 { margin: 6px 0 7px; }
.market .stall.stall-setup .good.good-setup>select.num-select { 
    width: 184px; font-weight: normal; margin-bottom: 8px; }
.market .stall.stall-setup .good.good-setup>select option:not(.ng-scope) { display: none; } /* Hides a bug */
.market .stall.stall-setup .good.good-setup button.delete { width: 24px; padding: 1px 0 0 2px; height: 24px;
    position: absolute; left: 10px; bottom: 11px; color: #fcc; background: rgba(60,0,0,0.4);}
.market .stall.stall-setup .good.good-setup button.delete:hover { color: #f55; background: rgba(60,0,0,0.8);}
.market .stall.stall-setup .good.good-setup button:not(.delete) { width: 90px; margin-top: 0; clear: both; }
.market .stall.stall-setup .good.good-setup input { background-color: #dfe5eb; width: 74px; 
    margin: 10px auto; font-size: 1.3em; font-weight: bold; height: 30px; border: none; text-align: right;
    box-shadow: inset 1px 2px 6px rgba(0,0,0,0.45), inset 1px 1px 1px rgba(0,0,0,0.3); }
.market .stall.stall-setup .good.good-setup>div { 
    width: 50%; float: right; height: 62px; margin-bottom: 5px; }
.market .stall.stall-setup .good.good-setup>div:first-of-type { 
    float: left; border-right: 1px solid rgba(0,0,0,0.2); }
.market .stall.stall-setup .good.good-setup h5 { color: #f8f8f8;
    font-size: 1.3em; text-shadow: 0 1px 1px rgba(0,0,0,0.9), 1px 0 1px rgba(0,0,0,0.9),
    1px 1px 1px rgba(0,0,0,0.9), 0 0 1px rgba(0,0,0,0.9); margin-top: 0; }
.market .market-message { width: 451px; padding: 8px 4px 0; margin-bottom: 4px; font-size: 1.1em; }
.market .market-message .error { color:#F66;} .market .market-message .error strong { color:#FBB; }
.market .market-message .promotion { color:#8D8; } .market .market-message .promotion strong { color:#DFD; }

/* Blacksmith */
.blacksmith .blacksmith-content { background-color: #1e1e1f; border-top: 6px outset #313136;
    border-bottom: 6px outset #636364; border-right: 3px outset #64646B; margin: 16px 2px 12px;
    border-left: 3px outset #29292B; padding: 4px 8px; box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.8); 
}
.blacksmith .blacksmith-content>p { margin: 4px; } .blacksmith .blacksmith-content>p strong { color: #aaa; }
.blacksmith .mineral {
    display: block; float: left; width: 125px; height: 112px; margin: 6px 5px 10px; text-align: center;
    cursor: pointer; border-right: 3px inset rgba(0,0,0,0.3); border-bottom: 4px inset rgba(0,0,0,0.5);
    border-top: 4px inset rgba(255,255,255,0.28); border-left: 3px inset rgba(255,255,255,0.08);
    text-shadow: 0 1px 1px rgba(0,0,0,0.7), 1px 0 1px rgba(0,0,0,0.7),
    1px 1px 1px rgba(0,0,0,0.7), 0 0 1px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5); transition: background-color 0.06s ease;
}
.blacksmith .mineral.mineral-open {
    width: 180px; height: 1px; opacity: 0; border-top-width: 5px; border-bottom-width: 5px;
    border-left-width: 4px; border-right-width: 4px; cursor: default; }
.blacksmith .mineral h4 { margin: 4px 0 6px; }
.blacksmith .mineral>div { width: 50%; float: right; }
.blacksmith .mineral>div:first-of-type { float: left; border-right: 1px solid rgba(0,0,0,0.2); }
.blacksmith .mineral>div+p { clear: both; }
.blacksmith .mineral.mineral-open p { line-height: 1.6em; }
.blacksmith .mineral.mineral-open p:first-of-type { font-size: 1em; }
.blacksmith .minerals-min { width: 351px; }
.blacksmith .mineral.mineral-min {
    width: 77px; height: 95px; padding-top: 2px; transition: background-color 0.1s ease; }
.blacksmith .mineral.mineral-min.mineral-selected { display: none; }
.blacksmith .mineral.mineral-min h4 { margin: 1px 0 4px; font-size: 1em; }
.blacksmith .mineral.mineral-min>div { float: none; width: 100%; }
.blacksmith .mineral.mineral-min p { display: inline; line-height: 1.2em; margin: 0; }
.blacksmith .mineral.mineral-min strong { font-size: 1.1em; }
.blacksmith .refined, .blacksmith .refining { clear: both; }
.blacksmith h5 { font-size: 1.2em; margin-bottom: 4px; }
.blacksmith .refined .mineral, .blacksmith .refining .mineral {
    width: auto; height: auto; padding: 6px 10px; }
.blacksmith .refining .mineral { cursor: default; }

#inventory>div>table.unstyled { width: 100%; margin-bottom: 7px; }
#inventory>div { border-bottom: 1px solid #50575c; margin: 5px 0; min-height: 22px; }
#inventory>div h3 { float: left; margin-bottom: 0; margin-left: 6px; }
#inventory h3 small { margin-left: 6px; }
#inventory>div:first-of-type { margin-top: 0; }
#inventory>div:last-child { border-bottom: none; }
#inventory>div>button { position: absolute; right: 16px; font-size: 0.7em; padding: 0 4px; margin-top: 1px; }
#inventory>div>table.unstyled tr.actions .well { 
    padding-left: 12px; padding-right: 12px; margin-top: 4px; margin-bottom: 4px; }
#uiContainer #inventory td.quantity { width: 44px; padding-right: 10px; }

#objectInfo p { margin-bottom: 6px; }

.table-tiny { font-size: 0.8em; width: 100%; }
.table-tiny td { padding: 0 !important; }
.table-tiny td.has-label { height: 18px; }

ul#log { font-size: 11px; }
ul#log li { margin-bottom: 0; }

.list-unstyled li { margin-bottom: 8px; }
.list-unstyled li button { position: relative; top: -1px; padding: 1px 5px 3px; }

.attach-top { position: relative; top: -6px; }

table.unstyled { background: transparent; margin-bottom: 1em; }
table.unstyled tr td { padding: 2px 6px 0 0; border: none; color: #999; }
strong { color: #ccc; }

.item-color {
    border: 1px solid black; width: 17px; height: 17px; display: inline-block; position: relative; top: 2px;
    margin-right: 4px; font-size: 0.9em; line-height: 14px; text-align: center; vertical-align: top;
    padding-right: 2px; color: rgba(255,255,255,0.9);
    text-shadow: 0 1px 1px #000, 1px 0 1px #000,
        1px 1px 1px #000, 0 0 1px #000;
}
.item-color.cooked { box-shadow: inset 0 0 2px 1px #591b11; }
.item-color.pelt { box-shadow: inset 0 0 2px 1px #2E1900; }
.item-color.meat, #campfire .label.meat { box-shadow: inset 0 0 2px 1px #972D41; }

.attach-top { position: relative; top: -6px; }

#objectInfo>div { position: absolute; background: #232527; opacity: 0.95; width: 260px; padding: 4px 12px;
    border: 1px solid black; }
#objectInfo.wider>div { width: 380px; }
#objectInfo>div h2+p { font-size: 0.9em; }
#objectInfo .well { padding-bottom: 5px; display: inline-block; }
h3 { font-size: 16px; margin: 0 0 10px; color: #737880; }
#objectInfo ul { margin-bottom: 0; }
#objectInfo li button { position: relative; top: -1px; padding: 1px 5px 2px; }

#uiContainer table.unstyled.scoreboard tr td { padding: 0 6px; font-size: 0.9em; height: 19px; }
#uiContainer table.unstyled.scoreboard tr.active td { background-color: #31353a; }
.scoreboard .item-color { width: 12px; height: 12px; margin-top: 1px; }

/* --- Bootstrap Overrides --- */

p { color: #999; }
h2 { color: #aaa; font-size: 18px; line-height: 22px; margin-top: 8px; margin-bottom: 6px; }
h2 small { font-size: 14px; margin-left: 12px; }
.text-warning strong { color: #f8a416; }
.text-warning small { color: #d89416; }
.text-danger strong { color: #f15249; }
.well { padding: 7px; background-color: #24272b; border-color: #1b1e21; }
.progress { height: 12px; margin-bottom: 12px; margin-top: 4px; }
.progress .progress-bar.low { background-color: #853436 !important; }
.progress .progress-bar.full { background-color: #49854d !important; }
.navbar { margin-bottom: 4px; border-radius: 0; }
.icon-flipped { transform: scaleX(-1); -webkit-transform: scaleX(-1); }
.input-xs {  height: 20px; padding: 5px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }

/* --- Unresponsive Bootstrap --- */
.container { position: relative; max-width: none !important; width: 1200px; padding: 0; }
/* Undo the collapsing navbar */
.navbar-collapse { display: block !important; height: auto !important; padding-bottom: 0;
    overflow: visible !important; }
.navbar-toggle { display: none; }
.navbar-brand { margin-left: -15px; }
/* Always apply the floated nav */
.navbar-nav { float: left; margin: 0; }
.navbar-nav > li { float: left; }
.navbar-nav > li > a { padding: 15px; }
/* Redeclare since we override the float above */
.navbar-nav.navbar-right { float: right; }
/* Undo custom dropdowns */
.navbar .open .dropdown-menu { position: absolute; float: left; background-color: #fff;
    border: 1px solid #cccccc; border: 1px solid rgba(0, 0, 0, 0.15); border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
.navbar .open .dropdown-menu > li > a { color: #333; }
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus { color: #fff !important;
    background-color: #428bca !important; }
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus { color: #999 !important;
    background-color: transparent !important; }

 /*Custom scrollbar for Chrome */
/*noinspection ALL*/
::-webkit-scrollbar { width: 18px; }

/*noinspection ALL*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: rgba(58,62,67,0.8);
    border-radius: 10px;
}
/*noinspection ALL*/
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(58,62,67,0.4);
}
/*noinspection ALL*/
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 /*Text selection color */
::selection      { color: #fff;  background: rgba(28,34,41,0.8); } 