<h2>Inventory<small>&emsp;&emsp;&emsp;&emsp;Gold:&emsp;
    <strong data-model="user.money" class="change-effect">{{ user.money | number }}</strong></small></h2>
<p ng-hide="inventory" class="text-muted">No items</p>
<div ng-repeat="(key,val) in showItemTypes">
    <h3 ng-hide="val">{{ key | capitalize }}</h3>
    <button class="btn btn-default btn-xs" ng-click="toggleItemType(key)">
        <i ng-show="val" class="glyphicon glyphicon-minus"></i><i ng-hide="val" class="glyphicon glyphicon-plus"></i>
    </button>
    <table class="unstyled">
        <tr ng-repeat-start="item in inventory | typeFilter:[key]" ng-show="val"
            ng-class="{ 'last-of-type': item.lastOfType }">
            <td class="text-right quantity"><a href="#" data-toggle-panel>
                <strong data-model="item.amount" class="change-effect">{{ item.amount }}</strong></a></td>
            <td style="width: 16px;"><a href="#" data-toggle-panel>
                <span ng-style="{background: '#'+item.color}" ng-class="item.status" class="item-color">
                    <span ng-show="item.status == 'cooked'">C</span><span ng-show="item.status == 'pelt'">P</span>
                </span></a></td>
            <td>
                <span ng-show="item.unit.pre">{{ item.unit.pre }} of</span>
                <span ng-show="item.profession == 'blacksmith' || item.profession == 'saltFarm'">unrefined</span>
                <span ng-show="item.profession == 'jeweler'">uncut</span>
                <span ng-show="item.status == 'cooked'">cooked</span>
                <a href="#" data-toggle-panel>{{ item.name }}</a>
                <span ng-show="item.unit.post">{{ item.unit.post }}</span>
                <span ng-show="item.type == 'animal' && item.status != 'pelt'"> carcass</span>
                <span ng-show="item.status == 'pelt'"> pelt</span>
            </td>
        </tr>
        <tr ng-repeat-end class="actions && val">
            <td colspan="3"><div class="well well-sm">
                <div ng-show="item.hasActions">
                    <select class="form-control num-select" ng-model="doAmount" ng-init="doAmount = item.amount || 1">
                        <option ng-repeat="count in countTo(item.amount)">{{ count }}</option>
                    </select>
                    <span class="btn-group btn-group-xs">
                        <button class="btn btn-default" ng-click="doAmount = 1">1</button>
                        <button ng-repeat="(key,val) in item.actions" class="btn btn-default primary"
                            ng-click="val(item,doAmount)">{{ key | capitalize }}</button>
                    </span>
                </div>
                <span ng-hide="item.hasActions">Can't do anything with this item</span>
            </div></td>
        </tr>
    </table>
</div>