<div class="heading">
    <h2 ng-class="{'inline-header':onPixel.camp}">Location <small>({{ user.location | grid }})</small></h2>
    <span class="text-muted">Terrain:</span> {{ onPixel.terrain }}&emsp;
    <span class="text-muted">Elevation:</span> {{ onPixel.elevation }}&emsp;
    <span class="text-muted">Slope:</span> {{ onPixel.slope }}
</div>
<p ng-hide="onPixel.camp || onPixel.campfire" class="text-muted">Nothing here.</p>
<button ng-disabled="looking || moving || inEvent" ng-hide="onPixel.campfire || onPixel.camp" 
    class="btn btn-default btn-sm" ng-click="buildCampfire()">Build Campfire</button>
<div class="well camp-ui" ng-show="onPixel.campfire" id="campfire">
    <h3>Campfire</h3>
    <table class="unstyled">
        <tr><th>Cookable Item</th>
            <th colspan="2" class="text-right"><button ng-show="cookable.amount > 0" ng-click="cookAll()" 
                class="btn btn-primary btn-xs">Cook All</button></th></tr>
        <tr class="show-if-last"><td colspan="3">Nothing to cook.</td></tr>
        <tr ng-repeat="cookable in inventory | typeFilter:['cookable']">
            <td><span ng-style="{'background-color': '#'+cookable.color}" class="label">
                {{ cookable.name | capitalize }}</span></td>
            <td style="width: 130px;" class="text-right">
                <select class="form-control num-select" ng-model="cookAmount" 
                    ng-init="cookAmount = cookable.amount || 1">
                    <option ng-repeat="count in countTo(cookable.amount)">{{ count }}</option>
                </select>
                <span class="btn-group btn-group-xs">
                    <button class="btn btn-default" ng-click="cookAmount = 1">1</button>
                    <button class="btn btn-default primary" ng-click="cookFood(cookable,cookAmount)">Cook</button>
                </span>
            </td>
        </tr>
    </table>
</div>
<div class="well camp-ui" ng-show="onPixel.camp">
    <h3 ng-hide="onPixel.camp === true" class="pull-left">{{ onPixel.camp | itemDisplay }}</h3>
    <h3 ng-show="onPixel.camp === true" class="pull-left">Camp</h3>
    <button class="btn btn-default btn-market pull-right" ng-click="showMarket = !showMarket">Market</button>
    <button ng-show="onPixel.camp.economy.blacksmith"
        class="btn btn-default btn-blacksmith pull-right" ng-click="showBS = !showBS">Blacksmith</button>
    <div class="market" ng-init="showMarket = true" ng-show="showMarket">
        
        <!-- TODO: Maybe don't need .invItem property? Use inventory[type+':'+name]? -->

        <div ng-show="onPixel.camp.economy.market.selectedStall" class="stall stall-open" id="selectedStall"
             ng-class="{'pull-right':onPixel.camp.economy.market.selectedStall.rightSide}">
            <div class="canvas" 
                ng-style="{'background-color':'#'+onPixel.camp.economy.market.selectedStall.canvas}"
                ng-click="changeStall(onPixel.camp.economy.market.selectedStall.id)"></div>
            <div class="stall-content">
                <div ng-show="onPixel.camp.economy.market.selectedStall.selectedGood" 
                     class="good good-open" id="selectedGood"
                     ng-style="{background:'#'+onPixel.camp.economy.market.selectedStall.selectedGood.color}"
                     ng-class="{'pull-right':onPixel.camp.economy.market.selectedStall.selectedGood.rightSide,
                     'has-error':onPixel.camp.economy.market.selectedStall.selectedGood.value * 
                     onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount * 
                        onPixel.camp.economy.market.selectedStall.markup > user.money}">
                    <h4>{{ onPixel.camp.economy.market.selectedStall.selectedGood.id | capitalize }}</h4>
                    <p><strong>{{ onPixel.camp.economy.market.selectedStall.selectedGood.value * 
                        onPixel.camp.economy.market.selectedStall.markup | number:1 }} </strong>gold</p>
                    <p><strong>{{ onPixel.camp.economy.market.selectedStall.selectedGood.amount }} </strong>
                        in stock</p>
                    <select class="form-control num-select" 
                        ng-model="onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount">
                        <option 
                            ng-selected="onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount == count"                               ng-repeat="count in countTo(onPixel.camp.economy.market.selectedStall.selectedGood.amount)">
                            {{ count }}</option>
                    </select>
                    <p>Cost: <strong>
                        {{ onPixel.camp.economy.market.selectedStall.selectedGood.value *
                        onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount * 
                        onPixel.camp.economy.market.selectedStall.markup | int }}
                    </strong> gold</p>
                    <button ng-click="buyGood()"
                        ng-disabled="onPixel.camp.economy.market.selectedStall.selectedGood.value * 
                        onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount * 
                        onPixel.camp.economy.market.selectedStall.markup > user.money">
                        Buy</button>
                </div>
                <div ng-class="{'goods-min':onPixel.camp.economy.market.selectedStall.selectedGood}">
                    <div class="good" ng-style="{background:'#'+good.color}"
                        ng-click="changeGood(good.name,$index)"
                        ng-repeat="good in onPixel.camp.economy.market.selectedStall.goods | typeFilter:['all']"
                        ng-class="{'good-min':onPixel.camp.economy.market.selectedStall.selectedGood,
                        'good-selected':onPixel.camp.economy.market.selectedStall.selectedGood.id == good.key}">
                        <h4>{{ good.name | capitalize }}</h4>
                        <p><strong ng-show="onPixel.camp.economy.market.selectedStall.selectedGood">
                            {{ good.value * onPixel.camp.economy.market.selectedStall.markup | int }} </strong>
                            <strong ng-hide="onPixel.camp.economy.market.selectedStall.selectedGood">
                                {{ good.value * onPixel.camp.economy.market.selectedStall.markup | number:1 }} </strong>
                            gold</p>
                        <p><strong>{{ good.amount }} </strong>
                            {{ onPixel.camp.economy.market.selectedStall.selectedGood 
                                | iif : 'qty' : 'in stock' }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="{'stalls-min':onPixel.camp.economy.market.selectedStall}">
            <div class="stall" ng-repeat="(stall, stallData) in onPixel.camp.economy.market.stalls"
                ng-click="changeStall(stall,$index)" 
                ng-class="{'stall-min':onPixel.camp.economy.market.selectedStall,
                'stall-selected':onPixel.camp.economy.market.selectedStall.id == stall,
                'stall-1cat':stallData.categoryCount == 1, 'stall-2cat':stallData.categoryCount == 2,
                'stall-3cat':stallData.categoryCount == 3, 'stall-4cat':stallData.categoryCount == 4,
                'stall-5cat':stallData.categoryCount == 5, 'stall-6cat':stallData.categoryCount == 6}">
                <div class="canvas" ng-style="{'background-color':'#'+stallData.canvas}"></div>
                <ul ng-hide="onPixel.camp.economy.market.selectedStall" class="list-unstyled list-inline">
                    <li ng-repeat="(catName,catGoods) in stallData.categories">
                        <h4>{{ catName | capitalize }}</h4>
                        <div>
                            <strong ng-show="isNumber(catGoods[0])">{{ catGoods[0] }}</strong>
                            <div ng-class="{'double-row':catGoods.length > 4}">
                                <div ng-repeat="good in stallData.goods | typeFilter:['all']" class="color-square"
                                    ng-hide="good.type != catName"
                                    ng-style="{'background-color':'#'+good.color}">
                                    <!--<span ng-show="stallData.categoryCount == 1">-->
                                        <!--{{ good.name | left:2 | capitalize }}</span>-->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div ng-show="onPixel.camp.economy.market.selectedStall">
                    <div ng-repeat="good in stallData.goods | typeFilter:['all']" class="color-square"
                         ng-style="{'background-color':'#'+good.color}">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-show="showBS" class="row"><div class="col-xs-12">
        <table class="unstyled">
            <tr ng-show="hasItem({profession:'blacksmith'})">
                <th>Unrefined Mineral</th><th class="text-right">Sell</th><th class="text-right">Refine</th></tr>
            <tr ng-hide="hasItem({profession:'blacksmith'})"><td colspan="3">
                 No raw minerals to sell or refine</td></tr>
            <tr ng-repeat-start="item in inventory | typeFilter:['blacksmith']">
                <td><button data-toggle-panel class="btn btn-xs btn-item"
                    ng-style="{'background-color': '#'+item.color}" >{{ item.name | capitalize }}
                </button></td>
                <td class="text-right">
                    {{ onPixel.camp.economy.blacksmith[item.name].value * 0.8 | int }}</td>
                <td class="text-right">
                    {{ onPixel.camp.economy.blacksmith[item.name].value * 2 | int }}</td>
            </tr>
            <tr ng-repeat-end class="actions"><td colspan="3"><div class="well">
                <div class="hard-left">
                    <select class="form-control num-select" ng-model="blacksmithAmount"
                        ng-init="blacksmithAmount = item.amount || 1">
                        <option ng-repeat="count in countTo(item.amount)">{{ count }}</option>
                    </select>
                    <span class="btn-group btn-group-xs">
                        <button class="btn btn-default" ng-click="blacksmithAmount = 1">1</button>
                        <button class="btn btn-default" ng-click="blacksmithAmount = item.amount">All</button>
                        <button ng-disabled="blacksmithAmount * onPixel.camp.economy.blacksmith[item.name].value * 2 
                            > user.money" class="btn btn-default primary"
                            ng-click="refineItem(item,blacksmithAmount,
                            onPixel.camp.economy.blacksmith[item.name].value)">Refine</button>
                        <button class="btn btn-default primary" ng-click="sellResource(item,
                            blacksmithAmount,onPixel.camp.economy.blacksmith[item.name].value)">Sell</button>
                    </span>
                </div>
                <div class="row text-only">
                    <div class="col-xs-6">
                        <span class="text-muted">Refine Cost: </span>
                        <strong ng-class="{ 'text-danger': blacksmithAmount * 
                            onPixel.camp.economy.blacksmith[item.name].value * 2 > user.money }">
                            {{ blacksmithAmount * onPixel.camp.economy.blacksmith[item.name].value * 2 | int }}
                        </strong>
                    </div>
                    <div class="col-xs-6">
                        <span class="text-muted">Sell Value: </span>
                        <strong>{{ blacksmithAmount * onPixel.camp.economy.blacksmith[item.name].value * 0.8 | int }}
                            </strong>
                    </div>
                </div>
            </div></td></tr>
        </table>
    </div></div>
</div>
<div class="well camp-ui" ng-repeat="object in onPixel.objects"
    ng-show="onPixel.objects && object.type != 'camp' && object.type != 'campfire' && !object.activity">
    {{ object | itemDisplay }}
</div>