<div class="heading">
    <h2 ng-class="{'inline-header':onPixel.camp}">Location <small>({{ user.location | grid }})</small></h2>
    <span class="text-muted">Terrain:</span> {{ onPixel.terrain }}&emsp;
    <span class="text-muted">Elevation:</span> {{ onPixel.elevation }}&emsp;
    <span class="text-muted">Slope:</span> {{ onPixel.slope }}&emsp;
    <span class="text-muted">Forest:</span> {{ onPixel.forest | percentage }}<span class="text-muted"> %</span>
</div>
<p ng-hide="onPixel.camp || onPixel.campfire" class="text-muted">Nothing here.</p>
<button ng-disabled="looking || moving || inEvent" ng-hide="onPixel.campfire || onPixel.camp" 
    class="btn btn-default btn-sm" ng-click="buildCampfire()">Build Campfire</button>
<div class="well camp-ui" ng-show="onPixel.campfire" id="campfire">
    <h3>Campfire</h3>
    <table class="unstyled">
        <tr><th>Cookable Item</th>
            <th colspan="2" class="text-right"><button ng-show="cookable.amount > 0" ng-click="cookAll()" 
                class="btn btn-primary btn-xs">Cook All</button></th></tr>
        <tr class="show-if-last"><td colspan="3">Nothing to cook.</td></tr>
        <tr ng-repeat="cookable in inventory | typeFilter:['cookable']">
            <td><span ng-style="{'background-color': '#'+cookable.color}" class="label" ng-class="cookable.status">
                {{ cookable.status | iif:cookable.name+' '+cookable.status:cookable.name | capitalize }}</span></td>
            <td style="width: 130px;" class="text-right">
                <select class="form-control num-select" ng-model="cookAmount" 
                    ng-init="cookAmount = cookable.amount || 1">
                    <option ng-repeat="count in countTo(cookable.amount)" ng-value="count">{{ count }}</option>
                </select>
                <span class="btn-group btn-group-xs">
                    <button class="btn btn-default" ng-click="cookAmount = 1">1</button>
                    <button class="btn btn-default primary" ng-click="cookFood(cookable,cookAmount)">Cook</button>
                </span>
            </td>
        </tr>
    </table>
</div>
<div class="well camp-ui" ng-show="onPixel.camp"><h3>{{ onPixel.camp | itemDisplay }}</h3><div class="clearfix"></div>
    <div class="market" ng-init="showMarket = true" ng-show="onPixel.camp.economy.market">
        <div class="camp-section-header">
            <h4><button ng-click="showMarket = !showMarket">Market</button>
                <label><input type="checkbox" ng-model="uiOptions.plainStalls"
                    ng-change="changeUIOption('plainStalls',uiOptions.plainStalls)"> Plain Stalls</label>
            </h4>
        </div>
        <div ng-show="onPixel.camp.economy.market.selectedStall && showMarket" class="stall stall-open"
            id="selectedStall" ng-class="{'pull-right':onPixel.camp.economy.market.selectedStall.rightSide,
            'stall-setup':onPixel.camp.economy.market.selectedStall.id == 'su'+user.id}">
            <div class="canvas" ng-class="{'no-stripes':uiOptions.plainStalls}"
                ng-style="{'background-color': '#'+onPixel.camp.economy.market.selectedStall.canvas}"
                ng-click="changeStall(onPixel.camp.economy.market.selectedStall.id)"></div>
            <div class="stall-content" ng-style="{'background-color': uiOptions.plainStalls ? 
                    '#393c3f' : '#' + onPixel.camp.economy.market.selectedStall.bg}">
                <div ng-show="onPixel.camp.economy.market.selectedStall.selectedGood && 
                    onPixel.camp.economy.market.selectedStall.selectedGood.id != 'newGood'" 
                    class="good good-open" id="selectedGood"
                    ng-style="{background: '#'+onPixel.camp.economy.market.selectedStall.selectedGood.color}"
                    ng-class="{'pull-right':onPixel.camp.economy.market.selectedStall.selectedGood.rightSide,
                    'has-error':onPixel.camp.economy.market.selectedStall.selectedGood.value * 
                    onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount * 
                        onPixel.camp.economy.market.selectedStall.markup > user.money,
                        'pelt':onPixel.camp.economy.market.selectedStall.selectedGood.status == 'pelt',
                        'meat':onPixel.camp.economy.market.selectedStall.selectedGood.status == 'meat',
                        'out-of-stock':onPixel.camp.economy.market.selectedStall.selectedGood.amount < 1}">
                    <h4>{{ onPixel.camp.economy.market.selectedStall.selectedGood.name | capitalize }}
                        <small ng-show="onPixel.camp.economy.market.selectedStall.selectedGood.status">
                            {{ onPixel.camp.economy.market.selectedStall.selectedGood.status }}</small></h4>
                    <p><strong>{{ onPixel.camp.economy.market.selectedStall.selectedGood.value * 
                        onPixel.camp.economy.market.selectedStall.markup | number:1 }} </strong>gold</p>
                    <p ng-hide="onPixel.camp.economy.market.selectedStall.selectedGood.amount < 1"><strong>
                        {{ onPixel.camp.economy.market.selectedStall.selectedGood.amount }} </strong>in stock</p>
                    <p ng-show="onPixel.camp.economy.market.selectedStall.selectedGood.amount < 1">
                        <strong class="text-danger">out of stock</strong></p>
                    <select class="form-control num-select"
                        ng-disabled="onPixel.camp.economy.market.selectedStall.selectedGood.amount < 1"
                        ng-model="onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount">
                        <option ng-selected="onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount==count" 
                            ng-value="count" ng-repeat="count in countTo(
                            onPixel.camp.economy.market.selectedStall.selectedGood.amount)">{{ count }}</option>
                    </select>
                    <p ng-hide="onPixel.camp.economy.market.selectedStall.selectedGood.amount < 1">Cost: <strong
                        ng-class="{'text-danger':onPixel.camp.economy.market.selectedStall.selectedGood.value *
                        onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount * 
                        onPixel.camp.economy.market.selectedStall.markup > user.money}">
                        {{ onPixel.camp.economy.market.selectedStall.selectedGood.value *
                        onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount * 
                        onPixel.camp.economy.market.selectedStall.markup | int }}
                    </strong> gold</p>
                    <p ng-show="onPixel.camp.economy.market.selectedStall.selectedGood.amount < 1">
                        <span class="text-muted">-</span></p>
                    <button ng-click="buyGood()"
                        ng-disabled="onPixel.camp.economy.market.selectedStall.selectedGood.value * 
                        onPixel.camp.economy.market.selectedStall.selectedGood.buyAmount * 
                        onPixel.camp.economy.market.selectedStall.markup > user.money ||
                        onPixel.camp.economy.market.selectedStall.selectedGood.amount < 1">
                        Buy</button>
                </div>
                <div class="good good-open good-setup" ng-show="onPixel.camp.economy.market.selectedStall.selectedGood
                    && onPixel.camp.economy.market.selectedStall.selectedGood.id == 'newGood'" id="newGood"
                    ng-style="{background: 
                    '#'+(onPixel.camp.economy.market.selectedStall.selectedGood.invItem.color||'2f3133')}"
                    ng-class="{'pelt':onPixel.camp.economy.market.selectedStall.selectedGood.invItem.status == 'pelt',
                    'meat':onPixel.camp.economy.market.selectedStall.selectedGood.invItem.status == 'meat'}">
                    <h4>{{ onPixel.camp.economy.market.selectedStall.selectedGood.editing | 
                        iif:'Edit Good':'New Good' }}</h4>
                    <select class="form-control num-select" 
                        ng-change="onPixel.camp.economy.market.selectedStall.selectedGood.invItem = 
                        onPixel.camp.economy.market
                        .inventory[onPixel.camp.economy.market.selectedStall.selectedGood.invKey]; 
                        onPixel.camp.economy.market.selectedStall.selectedGood.addAmount = 
                        onPixel.camp.economy.market.selectedStall.selectedGood.invItem.amount;
                        onPixel.camp.economy.market.selectedStall.selectedGood.addPrice = 
                        onPixel.camp.economy.market.selectedStall.selectedGood.invItem.value;
                        onPixel.camp.economy.market.selectedStall.tooManyCats = false"
                        ng-model="onPixel.camp.economy.market.selectedStall.selectedGood.invKey">
                        <option value="none" class="ng-scope" disabled>Select a good</option>
                        <option ng-value="invItem.key" ng-repeat="invItem in onPixel.camp.economy.market.inventory | 
                            typeFilter:['sellable']:onPixel.camp.economy.market.selectedStall.goods:
                            onPixel.camp.economy.market.selectedStall.selectedGood.prevGood.key"
                            ng-selected="onPixel.camp.economy.market.selectedStall.selectedGood.invKey == invItem.key">
                            {{ invItem.type | capitalize }} - {{ invItem.name | capitalize }}
                            {{ invItem.status | iif:' '+invItem.status:'' }}</option>
                    </select>
                    <div ng-hide="onPixel.camp.economy.market.selectedStall.selectedGood.invKey == 'none'">
                        <h5>Quantity</h5>
                        <select class="form-control num-select"
                        ng-model="onPixel.camp.economy.market.selectedStall.selectedGood.addAmount">
                        <option ng-selected="onPixel.camp.economy.market.selectedStall.selectedGood.addAmount==count"
                            ng-value="count" ng-repeat="count in countTo(
                            onPixel.camp.economy.market.selectedStall.selectedGood.invItem.amount)">{{ count }}</option>
                    </select></div>
                    <div ng-hide="onPixel.camp.economy.market.selectedStall.selectedGood.invKey == 'none'">
                        <h5>Sell Price</h5>
                        <input class="form-control input-sm" type="text" id="inputAddGoodPrice"
                            ng-change="onPixel.camp.economy.market.selectedStall.selectedGood.addPrice = 
                            restrictNumber(onPixel.camp.economy.market.selectedStall.selectedGood.addPrice,1)"
                            ng-model="onPixel.camp.economy.market.selectedStall.selectedGood.addPrice"></div>
                    <button class="delete" ng-click="deleteGoodFromStall()" 
                        ng-show="onPixel.camp.economy.market.selectedStall.selectedGood.editing">
                        <i class="glyphicon glyphicon-remove"></i></button>
                    <button ng-click="addGoodToStall()" 
                        ng-hide="onPixel.camp.economy.market.selectedStall.selectedGood.invKey == 'none'">
                        {{ onPixel.camp.economy.market.selectedStall.selectedGood.editing | iif:'Save':'Add Good' }}
                    </button>
                </div>
                <div ng-class="{'goods-min':onPixel.camp.economy.market.selectedStall.selectedGood}">
                    <div class="good" ng-style="{background:'#'+good.color}"
                        ng-click="changeGood(good.key,$index)" ng-hide="good.id == 'newGood'"
                        ng-repeat="good in onPixel.camp.economy.market.selectedStall.goods | typeFilter:['all']"
                        ng-class="{'good-min':onPixel.camp.economy.market.selectedStall.selectedGood,
                        'good-selected':onPixel.camp.economy.market.selectedStall.selectedGood.key == good.key,
                        'pelt':good.status == 'pelt', 'meat':good.status == 'meat', 'out-of-stock':good.amount < 1}">
                        <h4>{{ good.name | capitalize }}</h4>
                        <p><strong ng-show="onPixel.camp.economy.market.selectedStall.selectedGood">
                            {{ good.value * onPixel.camp.economy.market.selectedStall.markup | int }} </strong>
                            <strong ng-hide="onPixel.camp.economy.market.selectedStall.selectedGood">
                                {{ good.value * onPixel.camp.economy.market.selectedStall.markup | number:1 }} </strong>
                            gold</p>
                        <p><strong ng-class="{'text-danger':good.amount < 1}">
                            {{ good.amount }} </strong>{{ onPixel.camp.economy.market.selectedStall.selectedGood 
                                | iif:'qty':'in stock' }}</p>
                    </div>
                    <div class="good good-new" ng-click="changeGood('newGood',-1)" 
                        ng-show="onPixel.camp.economy.market.selectedStall.id == 'su'+user.id && 
                        onPixel.camp.economy.market.selectedStall.goodCount < 8 && 
                        onPixel.camp.economy.market.selectedStall.selectedGood.id != 'newGood'"
                        ng-class="{'good-min':onPixel.camp.economy.market.selectedStall.selectedGood,
                        'good-selected':onPixel.camp.economy.market.selectedStall.selectedGood.id == good.key}">
                        <h4>Add Good</h4>
                        <p><i class="glyphicon glyphicon-plus"></i></p>
                    </div>
                </div>
            </div>
            <div class="market-message" ng-bind-html="onPixel.camp.economy.market.message"
               ng-show="onPixel.camp.economy.market.message"></div>
        </div>
        <div ng-class="{'stalls-min':onPixel.camp.economy.market.selectedStall}" ng-show="showMarket">
            <div class="stall" ng-repeat="(stall, stallData) in onPixel.camp.economy.market.stalls"
                ng-click="changeStall(stall,$index)" 
                ng-style="{'background-color': uiOptions.plainStalls ? '#393c3f' : '#' + stallData.bg}"
                ng-class="{'stall-min':onPixel.camp.economy.market.selectedStall,
                'stall-selected':onPixel.camp.economy.market.selectedStall.id == stall,
                'stall-1cat':stallData.categoryCount == 1, 'stall-2cat':stallData.categoryCount == 2,
                'stall-3cat':stallData.categoryCount == 3, 'stall-4cat':stallData.categoryCount == 4,
                'stall-5cat':stallData.categoryCount == 5, 'stall-6cat':stallData.categoryCount == 6}">
                <div class="canvas"  ng-class="{'no-stripes':uiOptions.plainStalls}" 
                    ng-style="{'background-color':'#'+stallData.canvas}"></div>
                <ul ng-hide="onPixel.camp.economy.market.selectedStall" class="list-unstyled list-inline">
                    <li ng-repeat="(catName,catGoods) in stallData.categories">
                        <h4>{{ catName | capitalize }}</h4>
                        <div>
                            <strong ng-show="isNumber(catGoods[0])">{{ catGoods[0] }}</strong>
                            <div ng-class="{'double-row':catGoods.length > 4}">
                                <div ng-repeat="good in stallData.goods | typeFilter:['all']" class="color-square"
                                    ng-class="{ 'pelt':good.status == 'pelt', 'meat':good.status == 'meat',
                                    'out-of-stock': good.amount < 1 }" 
                                    ng-hide="good.type != catName && good.name != catName && good.status != catName"
                                    ng-style="{'background-color':'#'+good.color}">
                                    <!--<span ng-show="stallData.categoryCount == 1">-->
                                        <!--{{ good.name | left:2 | capitalize }}</span>-->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div ng-show="onPixel.camp.economy.market.selectedStall">
                    <div ng-repeat="good in stallData.goods | typeFilter:['all']" class="color-square"
                         ng-show="good.color"
                         ng-class="{ 'pelt':good.status == 'pelt', 'meat':good.status == 'meat',
                         'out-of-stock': good.amount < 1 }" ng-style="{'background-color':'#'+good.color}"></div>
                </div>
            </div>
            <div class="stall stall-new" ng-click="changeStall('su'+user.id,-1)"
                ng-class="{'stall-min':onPixel.camp.economy.market.selectedStall}"
                ng-hide="onPixel.camp.economy.market.stalls['su'+user.id]">
                <div class="canvas" ng-class="{'no-stripes':uiOptions.plainStalls}"
                    ng-style="{'background-color':'#'+user.camp.color}"></div>
                <p><i class="glyphicon glyphicon-plus"></i>
                    <span ng-hide="onPixel.camp.economy.market.selectedStall">Set up a stall!</span></p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div ng-repeat="service in services" class="camp-service" 
        ng-show="onPixel.camp.economy[service].markup" ng-class="service">
        <div class="camp-section-header">
            <h4><button ng-click="showService[service] = !showService[service]">Blacksmith</button>
                <span class="text-success" ng-show="onPixel.camp.economy[service].refined">
                    Refined items ready for pick-up!</span>
            </h4>
        </div>
        <div class="camp-service-content" ng-show="showService[service]">
            <p ng-hide="hasItem({profession:service,status:'unrefined'}) || 
                onPixel.camp.economy[service].refined || onPixel.camp.economy[service].refining" class="text-muted">
                You don't have anything to <strong>sell</strong> or <strong>refine</strong> here. 
                Go out and find some stuff!</p>
            <div ng-show="onPixel.camp.economy[service].selectedRefGood"
                class="refGood refGood-open" id="selectedRefGood"
                ng-style="{background:'#'+onPixel.camp.economy[service].selectedRefGood.color}"
                ng-class="{'has-error':onPixel.camp.economy[service].selectedRefGood.value * 
                    onPixel.camp.economy[service].selectedRefGood.refineAmount *
                    onPixel.camp.economy[service].markup > user.money}">
                <h4>Unrefined {{ onPixel.camp.economy[service].selectedRefGood.name | capitalize }}</h4>
                <div>
                    <p><strong>{{ onPixel.camp.economy[service].selectedRefGood.value * 
                        onPixel.camp.economy[service].markup | number:1 }} </strong>gold</p>
                    <select class="form-control num-select"
                        ng-model="onPixel.camp.economy[service].selectedRefGood.refineAmount">
                        <option ng-selected="onPixel.camp.economy[service].selectedRefGood.refineAmount == count"
                            ng-repeat="count in countTo(onPixel.camp.economy[service].selectedRefGood.amount)"
                            ng-value="count">{{ count }}</option>
                    </select>
                    <p>Cost: <strong ng-class="{'text-danger':onPixel.camp.economy[service].selectedRefGood.value * 
                        onPixel.camp.economy[service].selectedRefGood.refineAmount *
                        onPixel.camp.economy[service].markup > user.money}">
                        {{ onPixel.camp.economy[service].selectedRefGood.value * 
                        onPixel.camp.economy[service].selectedRefGood.refineAmount *
                        onPixel.camp.economy[service].markup | int }}</strong></p>
                    <button ng-click="refineItem(onPixel.camp.economy[service].selectedRefGood,
                        onPixel.camp.economy[service].selectedRefGood.refineAmount,
                        onPixel.camp.economy[service].selectedRefGood.value*onPixel.camp.economy[service].markup,
                        service)"
                        ng-disabled="onPixel.camp.economy[service].selectedRefGood.value * 
                        onPixel.camp.economy[service].selectedRefGood.refineAmount *
                        onPixel.camp.economy[service].markup > user.money">
                        Refine</button>
                </div>
                <div>
                    <p><strong>{{ onPixel.camp.economy[service].selectedRefGood.value / 2 /
                        onPixel.camp.economy[service].markup | number:1 }} </strong>gold</p>
                    <select class="form-control num-select no-error"
                        ng-model="onPixel.camp.economy[service].selectedRefGood.sellAmount">
                        <option ng-selected="onPixel.camp.economy[service].selectedRefGood.sellAmount == count"
                            ng-repeat="count in countTo(onPixel.camp.economy[service].selectedRefGood.amount)"
                            ng-value="count">{{ count }}</option>
                    </select>
                    <p>Sell: <strong>{{ onPixel.camp.economy[service].selectedRefGood.value *
                        onPixel.camp.economy[service].selectedRefGood.sellAmount / 2 / 
                        onPixel.camp.economy[service].markup | int }}</strong></p>
                    <button ng-click="sellItem(onPixel.camp.economy[service].selectedRefGood,
                        onPixel.camp.economy[service].selectedRefGood.sellAmount,
                        onPixel.camp.economy[service].selectedRefGood.value/2/
                        onPixel.camp.economy[service].markup)">Sell</button>
                </div>
            </div>
            <div ng-class="{'refGoods-min':onPixel.camp.economy[service].selectedRefGood}">
                <div class="refGood" ng-style="{background:'#'+refItem.color}"
                    ng-click="changeRefGood(refItem.key,service)"
                    ng-repeat="refItem in inventory | typeFilter:['blacksmith']"
                    ng-class="{'refGood-min':onPixel.camp.economy[service].selectedRefGood,
                    'refGood-selected':onPixel.camp.economy[service].selectedRefGood.id == refItem.key}">
                    <h4>{{ refItem.name | capitalize }}</h4>
                    <div>
                        <p ng-hide="onPixel.camp.economy[service].selectedRefGood">Refine</p>
                        <p ng-show="onPixel.camp.economy[service].selectedRefGood">R:</p>
                        <p><strong>{{ refItem.value * onPixel.camp.economy[service].markup | number:1 }}</strong></p>
                    </div>
                    <div>
                        <p ng-hide="onPixel.camp.economy[service].selectedRefGood">Sell</p>
                        <p ng-show="onPixel.camp.economy[service].selectedRefGood">S:</p>
                        <p><strong>{{ refItem.value / 2 / onPixel.camp.economy[service].markup | number:1 }}
                            </strong></p>
                    </div>
                    <p><span ng-hide="onPixel.camp.economy[service].selectedRefGood">Your qty:</span><strong>
                        {{ refItem.amount }} </strong><span ng-show="onPixel.camp.economy[service].selectedRefGood">
                        qty</span></p>
                </div>
            </div><div class="clearfix"></div>
            <div ng-show="onPixel.camp.economy[service].refined" class="refined">
                <h5>Your Refined Goods&emsp;<small>click your items to claim them</small></h5>
                <div class="refGood refGood-refine" ng-repeat="refined in onPixel.camp.economy[service].refined"
                    ng-click="claimRefined(refined,service)" ng-style="{background:'#'+refined.color}">
                    <p><strong>{{ refined.amount }}</strong>x <strong>{{ refined.name | capitalize }}</strong></p>
                </div>
            </div><div class="clearfix"></div>
            <div ng-show="onPixel.camp.economy[service].refining" class="refining">
                <h5>Refining Goods&emsp;<small>refining takes 10-15 minutes</small></h5>
                <div class="refGood refGood-refine" ng-repeat="refining in onPixel.camp.economy[service].refining"
                    ng-style="{background:'#'+refining.color}">
                    <p><strong>{{ refining.amount }}</strong>x <strong>{{ refining.name | capitalize }}</strong></p>
                    <p><strong> {{ refining.started | timeUnits }} </strong>
                        {{ refining.started | timeUnitsLabel | left:3 }} ago</p>
                </div>
            </div><div class="clearfix"></div>
        </div>
    </div>
</div>