<h2>Location <small>({{ user.location | grid }})</small></h2>
<p><span class="text-muted">Terrain:</span>&emsp;{{ onPixel.terrain }}&emsp;&emsp;&emsp;
    <span class="text-muted">Elevation:</span>&emsp;{{ onPixel.elevation }}</p>
<p ng-hide="onPixel.camp || onPixel.campfire" class="text-muted">Nothing here.</p>
<button ng-disabled="looking || moving" ng-hide="onPixel.campfire || onPixel.camp" 
    class="btn btn-default btn-sm" ng-click="buildCampfire()">Build Campfire</button>
<div class="well object-well" ng-show="onPixel.campfire" id="campfire">
    <h3>Campfire</h3>
    <table class="unstyled">
        <tr><th>Cookable Item</th>
            <th class="text-right"><button ng-click="cookAll()" class="btn btn-primary btn-xs">
                Cook All</button></th></tr>
        <tr class="show-if-last"><td colspan="3">Nothing to cook.</td></tr>
        <tr ng-repeat="cookable in inventory | typeFilter:['cookable']">
            <td><span ng-style="{'background-color': '#'+cookable.color}" class="label">
                {{ cookable.name | capitalize }}</span></td>
            <td style="width: 130px;" class="text-right">
                <select class="form-control num-select" ng-model="cookAmount" 
                    ng-init="cookAmount = cookable.amount || 1">
                    <option ng-repeat="count in countTo(cookable.amount)">{{ count }}</option>
                </select>
                <span class="btn-group btn-group-xs">
                    <button class="btn btn-default" ng-click="cookAmount = 1">1</button>
                    <button class="btn btn-default primary"
                        ng-click="cookFood(cookable,cookAmount)">Cook</button>
                </span>
            </td>
        </tr>
    </table>
</div>
<div class="well object-well" ng-show="onPixel.camp">
    <div class="row"><div class="col-xs-12">
        <h3 class="pull-left">{{ onPixel.camp | itemDisplay }}</h3>
        <button class="btn btn-default btn-sm pull-right" ng-click="showEco = !showEco">Resources</button>
        <table class="unstyled" ng-show="showEco">
            <tr><th>Resource</th><th class="text-right">Supply</th><th class="text-right">Demand</th></tr>
            <tr ng-repeat-start="(key,val) in onPixel.camp.economy.resources"
                ng-show="showAllRes || (val.supply > 0 || val.invItem || 
                    hasItem({profession:'blacksmith',name:key}))">
                <td><button data-toggle-panel class="btn btn-xs btn-item"
                    ng-style="{'background-color': '#'+val.color}">{{ key | capitalize }}</button></td>
                <td class="text-right change-effect" data-model="val.supply" data-plain="true"
                    ng-class="{'text-muted': val.supply < 1}">{{ val.supply }}</td>
                <td style="color: #fff;" class="text-right" ng-style="{opacity:(val.demand+15)/115}">
                    {{ val.invItem | iif : '*' : '' }}{{ val.demand }}</td>
            </tr>
            <tr class="actions" ng-repeat-end><td colspan="3" ng-show="showAllRes || (val.supply > 0 || val.invItem || 
                hasItem({profession:'blacksmith',name:key}))" class="hard-right">
                <div class="well well-sm">
                    <div ng-class="{'action-row':val.invItem}">
                        <select class="form-control num-select" ng-model="buyAmount"
                            ng-init="buyAmount = val.supply || 1">
                            <option ng-repeat="count in countTo(val.supply)">{{ count }}</option>
                        </select>
                        <span class="btn-group btn-group-xs">
                            <button class="btn btn-default" ng-click="buyAmount = 1">1</button>
                            <button class="btn btn-default" 
                                ng-click="buyAmount = val.supply">All</button>
                            <button ng-disabled="buyAmount * val.value > user.money"
                                class="btn btn-default primary" style="width: 40px;" 
                                ng-click="buyResource(key,buyAmount)">Buy</button>
                            <span class="text-muted">Cost: </span>
                            <strong ng-class="{'text-danger': (buyAmount * val.value > user.money)}">
                                {{ buyAmount * val.value | int }}</strong>
                        </span>
                    </div>
                    <div ng-show="val.invItem">
                        <select class="form-control num-select" ng-model="sellAmount"
                                ng-init="sellAmount = val.invItem.amount || 1">
                            <option ng-repeat="count in countTo(val.invItem.amount)">{{ count }}</option>
                        </select>
                        <span class="btn-group btn-group-xs">
                            <button class="btn btn-default" ng-click="sellAmount = 1">1</button>
                            <button class="btn btn-default"
                                ng-click="sellAmount = val.invItem.amount">All</button>
                            <button class="btn btn-default primary" style="width: 40px;"
                                ng-click="sellResource(val.invItem,sellAmount,val.value)">Sell</button>
                            <span class="text-muted">Value: </span>
                            <strong>{{ sellAmount * val.value * 0.8 | int }}</strong>
                        </span>
                    </div>
                </div>
            </td></tr>
            <tr><td colspan="3"><div class="checkbox-inline text-muted"><label>
                <input ng-model="showAllRes" type="checkbox">Show All Resources
            </label></div></td></tr>
        </table>
    </div></div>
    <button ng-show="onPixel.camp.economy.blacksmith"
            class="btn btn-default btn-sm" ng-click="showBS = !showBS">Blacksmith</button>
    <div ng-show="showBS" class="row"><div class="col-xs-12">
        <table class="unstyled">
            <tr ng-show="hasItem({profession:'blacksmith'})">
                <th>Unrefined Mineral</th><th class="text-right">Sell</th><th class="text-right">Refine</th></tr>
            <tr ng-hide="hasItem({profession:'blacksmith'})"><td colspan="3">
                 No raw minerals to sell or refine</td></tr>
            <tr ng-repeat-start="item in inventory | typeFilter:['blacksmith']">
                <td><button data-toggle-panel class="btn btn-xs btn-item"
                    ng-style="{'background-color': '#'+item.color}" >{{ item.name | capitalize }}
                </button></td>
                <td class="text-right">
                    {{ onPixel.camp.economy.blacksmith[item.name].value * 0.8 | int }}</td>
                <td class="text-right">
                    {{ onPixel.camp.economy.blacksmith[item.name].value * 2 | int }}</td>
            </tr>
            <tr ng-repeat-end class="actions"><td colspan="3"><div class="well">
                <div class="hard-left">
                    <select class="form-control num-select" ng-model="blacksmithAmount"
                        ng-init="blacksmithAmount = item.amount || 1">
                        <option ng-repeat="count in countTo(item.amount)">{{ count }}</option>
                    </select>
                    <span class="btn-group btn-group-xs">
                        <button class="btn btn-default" ng-click="blacksmithAmount = 1">1</button>
                        <button class="btn btn-default" ng-click="blacksmithAmount = item.amount">All</button>
                        <button ng-disabled="blacksmithAmount * onPixel.camp.economy.blacksmith[item.name].value * 2 
                            > user.money" class="btn btn-default primary"
                            ng-click="refineItem(item,blacksmithAmount,
                            onPixel.camp.economy.blacksmith[item.name].value)">Refine</button>
                        <button class="btn btn-default primary" ng-click="sellResource(item,
                            blacksmithAmount,onPixel.camp.economy.blacksmith[item.name].value)">Sell</button>
                    </span>
                </div>
                <div class="row text-only">
                    <div class="col-xs-6">
                        <span class="text-muted">Refine Cost: </span>
                        <strong ng-class="{ 'text-danger': blacksmithAmount * 
                            onPixel.camp.economy.blacksmith[item.name].value * 2 > user.money }">
                            {{ blacksmithAmount * onPixel.camp.economy.blacksmith[item.name].value * 2 | int }}
                        </strong>
                    </div>
                    <div class="col-xs-6">
                        <span class="text-muted">Sell Value: </span>
                        <strong>{{ blacksmithAmount * onPixel.camp.economy.blacksmith[item.name].value * 0.8 | int }}
                            </strong>
                    </div>
                </div>
            </div></td></tr>
        </table>
    </div></div>
</div>
<div class="well object-well" ng-repeat="object in onPixel.objects"
    ng-show="onPixel.objects && object.type != 'camp' && object.type != 'campfire' && !object.activity">
    {{ object | itemDisplay }}
</div>