<div class="navbar">
    <div class="container">
        <div class="navbar-header"><h1><a href="#"><span class="geographr-color">Geographr</span></a>  <small>
            v{{ version }} - "{{ versionName }}"&emsp;&mdash;&emsp;Server status: 
            <strong ng-class="{'text-success': serverStatus == 'online', 'text-danger': serverStatus != 'online'}">
                {{ serverStatus | capitalize }}</strong></small></h1></div>
        <div class="navbar-collapse collapse">
            <p ng-show="needUpdate" class="navbar-right text-warning">Your version is <strong>out of date!</strong> Please press <strong>shift+F5</strong>. <small>If that doesn't work, Vegeta probably locked the app.</small></p>
            <p class="navbar-right" ng-show="userInit">Welcome back, <strong class="text-info">{{ user.nick }}</strong> &mdash; <a href="#" ng-click="logOut()">Log out</a></p>
            <form ng-show="!user && authStatus" class="navbar-form navbar-right" data-login-form="{{ authStatus }}" id="loginForm" ng-disabled="authStatus=='logging'" ng-submit="authenticate()">
                <div class="form-group">
                    <input ng-model="loginEmail" ng-disabled="authStatus=='logging'" id="inputLoginUser" type="email" placeholder="user@example.com" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="loginPassword" ng-disabled="authStatus=='logging'" id="inputLoginPass" type="password" placeholder="password" class="form-control">
                </div>
                <button ng-disabled="authStatus=='logging'" id="loginSubmit" type="submit" class="btn btn-success">Log In / Register</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>
<div id="mainContainer" class="container">
    <div class="canvas-container side">
        <div id="minimap">
            <canvas id="fullTerrainCanvas" width="300" height="300"></canvas> <!-- Terrain canvas -->
            <canvas id="fullFogCanvas" width="300" height="300"></canvas> <!-- Fog canvas -->
            <canvas id="fullObjectCanvas" width="300" height="300"></canvas> <!-- Object canvas -->
            <canvas id="fullPingCanvas" width="300" height="300"></canvas> <!-- Ping canvas -->
            <canvas id="fullHighCanvas" width="300" height="300"> <!-- Highlight canvas -->
                Your browser doesn't support canvases. <a href="http://www.google.com/chrome">Get a better one.</a>
            </canvas>
        </div>
        <div id="eventCanvases" ng-show="inEvent && !inEventTutorial">
            <canvas id="eventLowCanvas" width="300" height="300"></canvas> <!-- Event low canvas -->
            <canvas id="eventMainCanvas" width="300" height="300"></canvas> <!-- Event main canvas -->
            <canvas id="eventHighCanvas" width="300" height="300"></canvas> <!-- Event high canvas -->
        </div>
        <div id="eventTutorial" ng-show="inEventTutorial">
            <img src="" id="tutorialImage" width="300" height="300" ng-src="img/{{ event.type || 'loading' }}.png" />
        </div>
        <table ng-hide="inEvent" id="gridView"><tr ng-repeat="row in ['536','201','748']">
            <td ng-repeat="col in row.split('')" ng-class="onPixel.objects[col].type" ng-click="activateObject(col)">
                {{ onPixel.objects[col] | itemDisplay }}</td>
        </tr></table>
    </div>
    <div class="canvas-container"> <!-- Right side canvases -->
        <div id="zoomCanvases">
            <canvas id="zoomTerrainCanvas" width="900" height="600"></canvas> <!-- Terrain canvas -->
            <canvas id="zoomFogCanvas" width="900" height="600"></canvas> <!-- Fog canvas -->
            <canvas id="zoomObjectCanvas" width="900" height="600"></canvas> <!-- Object canvas -->
            <canvas id="zoomHighCanvas" width="900" height="600"></canvas> <!-- Highlight canvas -->
        </div>
        <div ng-show="userInit && terrainReady && user.camp" id="controls">
            <div ng-class="{ invisible: !moving && !looking }" class="progress">
                <div class="progress-bar" ng-style="{width: waitProgress+'%'}"></div></div>
            <button ng-disabled="moving || looking" ng-click="movePlayer(0)" class="btn btn-default" id="moveUp">
                <i class="glyphicon glyphicon-arrow-up"></i></button>
            <button ng-hide="movePath.length == 0 || moving" ng-click="movePlayer('undo')"
                class="btn btn-default btn-sm" id="moveUndo">
                <i class="glyphicon glyphicon-repeat icon-flipped"></i></button>
            <button ng-disabled="moving || looking" ng-click="movePlayer(1)" class="btn btn-default" id="moveLeft">
                <i class="glyphicon glyphicon-arrow-left"></i></button>
            <button ng-show="movePath.length > 0" ng-click="movePlayer('startStop')"
                    class="btn btn-default" id="moveStartStop">{{ moving | iif : 'Stop' : 'Go' }}</button>
            <button ng-show="movePath.length == 0" ng-disabled="looking || cantLook || onPixel.camp" 
                    ng-click="lookAround()" class="btn btn-default" id="lookAround">Look</button>
            <button ng-disabled="moving || looking" ng-click="movePlayer(2)" class="btn btn-default" id="moveRight">
                <i class="glyphicon glyphicon-arrow-right"></i></button>
            <button ng-disabled="moving || looking" ng-click="movePlayer(3)" class="btn btn-default" id="moveDown">
                <i class="glyphicon glyphicon-arrow-down"></i></button>
            <button ng-hide="movePath.length == 0 || moving" ng-click="movePlayer('clear')"
                class="btn btn-default btn-sm" id="moveClear">Clear</button>
        </div>
        <div class="col-xs-1 text-right hard-right pull-right coords">
        {{ overPixel.x }} , {{ overPixel.y }}
        </div>
        <div class="col-xs-3 text-right pull-right coords">
            <input type="text" class="zoom-slider" value="" data-slider-handle="square" data-slider-min="0"
                   data-slider-max="6" data-slider-selection="none" data-slider-value="4" data-slider-tooltip="hide">
        </div>
        <div class="col-xs-2 text-right pull-right coords">
            <div class="checkbox-inline text-muted"><label>
                <input ng-change="refresh()" ng-model="showLabels" type="checkbox"> Show Labels
            </label></div>
        </div>
        <div class="col-xs-2 text-right pull-right hard-right coords">
            <div class="checkbox-inline text-muted"><label>
                <input ng-change="refresh()" ng-model="showObjects" type="checkbox"> Show Objects
            </label></div>
        </div>
        <div class="col-xs-2 hard-left pull-left coords">
            <span class="text-muted">Terrain:</span> {{ overPixel.type | capitalize }}
        </div>
        <div class="col-xs-2 hard-left pull-left coords">
            <span class="text-muted">Elevation:</span> {{ overPixel.elevation }}
        </div>
    </div>
</div>
<div id="uiContainer" ng-show="userInit && terrainReady" class="container">
    <div class="row">
        <div id="info" class="col-xs-3">
            <div ng-show="showCommits" id="commits">
                <table class="table"><tr ng-repeat="commit in commits"><td><span class="text-muted">
                    {{ commit.date | timeUnits }} {{ commit.date | timeUnitsLabel }} ago</span></td>
                    <td>{{ commit.message }}</td></tr></table>
            </div>
            <div id="eventHUD">
                <div ng-show="inEventTutorial" class="checkbox-inline text-muted"><label>
                    <input ng-change="updateSkips()" ng-model="skipTutorial" type="checkbox"> Don't show me this again
                </label></div>
                <div class="row" ng-show="event.result.energy">
                    <div class="col-xs-3">Energy</div>
                    <div class="progress col-xs-8 hard-left hard-right">
                        <div class="progress-bar" ng-style="{width: event.result.energy*10+'%'}" 
                             ng-class="{ low: event.result.energy <= 2 }"></div></div>
                </div>
                <p ng-show="event.message" ng-bind-html="event.message"></p>
                <p ng-hide="event.message">&nbsp;</p>
                <div class="well" ng-show="event.products.length > 0">
                    <p class="event-products"><button ng-click="takeFromEvent($index)" class="btn btn-xs btn-item"
                        ng-style="{'background-color': '#'+product.color}" ng-repeat="product in event.products">
                            {{ product.amount }}x {{ product.name }}
                    </button></p>
                    <button ng-click="takeFromEvent('all')" class="btn btn-sm btn-default">Take All</button>
                </div>
            </div>
            <div class="well" ng-show="helpText">
                <p ng-repeat="paragraph in helpText | nlToArray">{{ paragraph }}</p>
                <button ng-show="user.new" class="btn btn-success" ng-click="createCamp()">Create Camp</button>
            </div>
            <div ng-show="user.camp">
                <h2>Skills</h2>
                <em class="text-muted" ng-hide="user.skills">
                    No skills yet. Do some foraging or hunting!</em>
                <table class="unstyled skills">
                    <tr ng-repeat="(key,val) in user.skills">
                        <td><strong>{{ key | capitalize }}</strong></td>
                        <td class="text-right"><span class="text-muted">Level</span>&nbsp;&nbsp;<strong>
                            {{ val | skillLevel }}</strong>&emsp;</td>
                        <td><div class="progress">
                            <div class="progress-bar" ng-style="{width: (val % 10 *10)+'%'}"></div>
                        </div></td>
                    </tr>
                </table>
                <h2>Stats</h2>
                <table class="unstyled stats">
                    <tr><td><a data-toggle-panel href="#">Hunger</a></td><td><div class="progress">
                        <div class="progress-bar" ng-style="{width: user.stats.hunger+'%'}"
                             ng-class="{ low: user.stats.hunger < 15, full: user.stats.hunger > 85 }"></div>
                    </div></td></tr>
                    <tr id="autoEat" class="actions start-open" ng-show="user.camp"><td colspan="2">
                        <div class="well well-sm">
                            <table class="unstyled">
                                <tr><th colspan="2"><h3>Automatic Eating</h3></th>
                                    <th class="text-right text-muted">Amount</th></tr>
                                <tr ng-show="noEdibles || !inventory"><td colspan="3"><span class="text-danger">
                                    Nothing left to eat!</span></td></tr>
                                <tr ng-repeat="item in inventory | typeFilter:['edible','auto']">
                                    <td><div class="checkbox-inline text-muted"><label>
                                        <input ng-init="autoEatThis = item.autoEat"
                                             ng-change="autoEat(item.name,autoEatThis)"
                                             ng-model="autoEatThis" type="checkbox">
                                    </label></div></td>
                                    <td>{{ item.name | capitalize }}</td>
                                    <td class="text-right"><strong data-model="item.amount" class="change-effect">
                                        {{ item.amount }}</strong></td>
                                </tr>
                            </table>
                        </div>
                    </td></tr>
                </table>
            </div>
        </div>
        <div class="col-xs-6" ng-hide="user.camp"></div>
        <div id="location" class="col-xs-3" ng-show="user.camp">
            <h2>Location <small>({{ user.location | grid }})</small></h2>
            <p><span class="text-muted">Terrain:</span>&emsp;{{ onPixel.terrain }}&emsp;&emsp;&emsp;
                <span class="text-muted">Elevation:</span>&emsp;{{ onPixel.elevation }}</p>
            <p ng-hide="onPixel.camp" class="text-muted">Nothing here.</p>
            <div class="well object-well" ng-show="onPixel.camp">
                <div class="row"><div class="col-xs-12">
                    <h3 class="pull-left">{{ onPixel.camp | itemDisplay }}</h3>
                    <button class="btn btn-default btn-sm pull-right" ng-click="showEco = !showEco">Resources</button>
                    <table class="unstyled" ng-show="showEco">
                        <tr><th>Resource</th><th class="text-right">Supply</th><th class="text-right">Demand</th></tr>
                        <tr ng-repeat-start="(key,val) in onPixel.camp.economy.resources" 
                            ng-show="showAllRes || (val.supply > 0 || val.invItem || hasItem({profession:'blacksmith',name:key}))">
                            <td><button data-toggle-panel class="btn btn-xs btn-item" 
                                ng-style="{'background-color': '#'+val.color}">{{ key | capitalize }}</button></td>
                            <td class="text-right" ng-class="{'text-muted': val.supply < 1}">{{ val.supply }}</td>
                            <td style="color: #fff;" class="text-right" ng-style="{opacity:(val.demand+15)/115}">
                                {{ val.invItem | iif : '*' : '' }}{{ val.demand }}</td>
                        </tr>
                        <tr class="actions" ng-repeat-end><td colspan="3">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="input-group input-group-sm col-xs-7 hard-right"
                                         ng-class="{ 'has-error': buyAmount > val.supply }">
                                        <input class="form-control input-sm text-center" type="text"
                                               ng-model="buyAmount" ng-init="buyAmount = 1" id="inputBuyAmount">
                                        <span class="input-group-btn">
                                            <button ng-disabled="buyAmount > val.supply" class="btn btn-default btn-sm"
                                                    ng-click="buyResource(key,buyAmount)">Buy</button>
                                            <button class="btn btn-default btn-sm free"
                                                    ng-click="buyAmount = 1">1</button>
                                            <button class="btn btn-default btn-sm free"
                                                ng-click="buyAmount = val.supply">All</button>
                                        </span>
                                    </div>
                                    <div class="col-xs-4 text-right hard-right">
                                        <span class="text-muted">Cost: </span>
                                        <strong ng-class="{'text-danger': (buyAmount * val.value > user.money)}">
                                            {{ buyAmount * val.value | int }}</strong>
                                    </div>
                                </div>
                                <div class="row" ng-show="val.invItem">
                                    <div class="input-group input-group-sm col-xs-7 hard-right"
                                         ng-class="{ 'has-error': sellAmount > val.invItem.amount }">
                                        <input class="form-control input-sm text-center" type="text"
                                            ng-model="sellAmount" ng-init="sellAmount = val.invItem.amount || 1"
                                                id="inputSellAmount">
                                        <span class="input-group-btn">
                                            <button ng-disabled="sellAmount > val.invItem.amount" 
                                                class="btn btn-default btn-sm"
                                                ng-click="sellResource(val.invItem,sellAmount,val.value)">Sell</button>
                                            <button class="btn btn-default btn-sm free"
                                                    ng-click="sellAmount = 1">1</button>
                                            <button class="btn btn-default btn-sm free" 
                                                ng-click="sellAmount = val.invItem.amount">All</button>
                                        </span>
                                    </div>
                                    <div class="col-xs-4 text-right hard-right">
                                        <span class="text-muted">Value: </span>
                                        <strong>{{ sellAmount * val.value * 0.8 | int }}</strong>
                                    </div>
                                </div>
                            </div>
                        </td></tr>
                        <tr><td colspan="3"><div class="checkbox-inline text-muted"><label>
                            <input ng-model="showAllRes" type="checkbox">
                             Show All Resources
                        </label></div></td></tr>
                    </table>
                </div></div>
                <button ng-show="onPixel.camp.economy.blacksmith && hasItem({profession:'blacksmith'})" 
                        class="btn btn-default btn-sm" ng-click="showBS = !showBS">Blacksmith</button>
                <div ng-show="showBS && hasItem({profession:'blacksmith'})" class="row"><div class="col-xs-12">
                    <table class="unstyled">
                        <tr><th>Unrefined Mineral</th><th class="text-right">Sell</th>
                            <th class="text-right">Refine</th></tr>
                        <tr ng-repeat-start="item in inventory | typeFilter:['blacksmith']">
                            <td><button data-toggle-panel class="btn btn-xs btn-item"
                                ng-style="{'background-color': '#'+item.color}" >{{ item.name | capitalize }}
                            </button></td>
                            <td class="text-right">
                                {{ onPixel.camp.economy.blacksmith[item.name].value * 0.8 | int }}</td>
                            <td class="text-right">
                                {{ onPixel.camp.economy.blacksmith[item.name].value * 1.5 | int }}</td>
                        </tr>
                        <tr ng-repeat-end class="actions"><td colspan="3"><div class="well">
                            <div class="input-group input-group-sm col-xs-12 hard-left"
                                 ng-class="{ 'has-error': blacksmithAmount > item.amount }">
                                <input class="form-control input-sm text-center" type="text"
                                       ng-model="blacksmithAmount" ng-init="blacksmithAmount = item.amount"
                                       id="inputBlacksmithAmount">
                                <span class="input-group-btn">
                                    <button ng-disabled="blacksmithAmount > item.amount"
                                        class="btn btn-default btn-sm free" ng-click="refineItem(item,blacksmithAmount,
                                        onPixel.camp.economy.blacksmith[item.name].value)">Refine</button>
                                    <button ng-disabled="blacksmithAmount > item.amount"
                                        class="btn btn-default btn-sm" ng-click="sellResource(item,
                                        blacksmithAmount,onPixel.camp.economy.blacksmith[item.name].value)">Sell</button>
                                    <button class="btn btn-default btn-sm"
                                            ng-click="blacksmithAmount = 1">1</button>
                                    <button class="btn btn-default btn-sm"
                                            ng-click="blacksmithAmount = item.amount">All</button>
                                </span>
                            </div>
                            <div class="row text-only"><div class="col-xs-6">
                                <span class="text-muted">Refine Cost: </span>
                                <strong ng-class="{ 'text-danger': blacksmithAmount > item.amount }">
                                    {{ blacksmithAmount * onPixel.camp.economy.blacksmith[item.name].value * 1.5 
                                    | int }}</strong>
                            </div>
                            <div class="col-xs-6">
                                <span class="text-muted">Sell Value: </span>
                                <strong ng-class="{ 'text-danger': blacksmithAmount > item.amount }">
                                    {{ blacksmithAmount * onPixel.camp.economy.blacksmith[item.name].value * 0.8 
                                    | int }}</strong>
                            </div></div>
                        </div></td></tr>
                    </table>
                </div></div>
            </div>
            <div class="well object-well" ng-repeat="object in onPixel.objects" 
                 ng-show="onPixel.objects && object.type != 'camp' && !object.activity">{{ object | itemDisplay }}
            </div>
        </div>
        <div id="inventory" class="col-xs-3" ng-show="user.camp">
            <h2>Inventory<small>&emsp;&emsp;&emsp;&emsp;Gold:&emsp;
                <strong data-model="user.money" class="change-effect">{{ user.money }}</strong></small></h2>
            <p ng-hide="inventory" class="text-muted">No items</p>
            <table class="unstyled">
                <tr ng-repeat-start="item in inventory | typeFilter:['resource','animal','plant','mineral']" 
                    ng-class="{ 'last-of-type': item.lastOfType }">
                    <td style="width: 16px;"><a href="#" data-toggle-panel>
                        <span ng-style="{background: '#'+item.color}" 
                              class="item-color"></span></a></td>
                    <td class="text-right quantity"><a href="#" data-toggle-panel><strong 
                            data-model="item.amount" class="change-effect">{{ item.amount }}</strong></a></td>
                    <td><span ng-show="item.unit" class="text-muted">{{ item.unit }} of</span>
                        <span ng-show="item.type == 'mineral'">unrefined</span>
                        <a href="#" data-toggle-panel>{{ item.name }}</a>
                        <span ng-show="item.type == 'animal'"> carcass</span>
                    </td>
                </tr>
                <tr ng-repeat-end class="actions">
                    <td colspan="3"><div class="well well-sm">
                        <!-- Item actions -->
                    </div></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-3">
            <div id="objectInfo" ng-show="selectedObject">
                <h2>Selected Object<!--<small>{{ selectedGrid.ownerNick }}</small>--></h2>
                <p>{{ selectedObject | itemDisplay }}&emsp;
                    <span class="text-muted">({{ selectedObject.grid | grid }})</span>
                    <em ng-show="selectedObject.visited">&emsp;Visited</em>
                </p>
                <h3 ng-show="selectedObject.economy.resources">Resource Demands</h3>
                <div class="row" ng-show="selectedObject.economy.resources">
                    <div class="col-xs-6" ng-repeat="column in [0,1]">
                        <table class="unstyled table-tiny">
                            <tr ng-repeat="resource in selectedObject.economy.resources | splitList: column">
                                <td class="has-label">
                                    <span ng-style="{'background-color': '#'+resource.color}" class="label">
                                    {{ resource.name | capitalize }}</span></td>
                                <td class="text-right" style="color: white;" 
                                    ng-style="{ opacity: (resource.demand+15)/115 }">{{ resource.demand }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row col-xs-12" ng-show="selectedObject.visited">
                    <h3>Camp Services</h3>
                    <span ng-show="selectedObject.economy.blacksmith" style="background-color: #222;" 
                          class="label bigger-label">Blacksmith</span>
                </div>
                <div ng-show="selectedObject.contents.length > 0 && selectedObject.owner == user.id" class="well">
                    <h3>Contents</h3>
                    <ul class="list-unstyled">
                        <li ng-repeat="item in selectedObject.contents">
                            <button type="button" ng-click="harvestItem($index,item)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span>{{ item | itemDisplay }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <h2>Event Log</h2>
            <em ng-hide="eventLog.length > 0" class="text-muted">Nothing&nbsp;&nbsp;yet</em>
            <ul id="log" class="list-unstyled">
                <li ng-repeat="event in eventLog | limitTo:10">
                    <span class="text-muted">{{ event.time | date:'H:mm:ss' }}</span>&emsp; 
                    {{ event.user }} {{ event.type }}<span ng-show="event.coords" class="text-muted"> at</span> 
                    {{ event.coords[0]}}<span ng-show="event.coords" class="text-muted">, </span>{{ event.coords[1] }}
                </li>
            </ul> -->
            <h2>Scoreboard</h2>
            <div class="col-xs-10">
                <table class="table unstyled scoreboard">
                    <tr ng-class="{ active: $even }" ng-repeat="user in scoreBoard | limitTo:5" ng-show="user.nick">
                        <td>{{ $index+1 }}.</td>
                        <td><span ng-class="{'text-success':user.online}">{{ user.nick }}</span></td>
                        <td class="text-right"><strong>{{ user.score }}</strong></td>
                    </tr>
                </table>
            </div>
            <div class="row form-group">
                <div class="input-group input-group-sm col-xs-8">
                    <input class="form-control input-sm" type="text" ng-model="labelText" id="inputLabelText"
                           placeholder="label name">
                    <span class="input-group-btn"><button class="btn btn-default btn-sm" ng-click="addLabel()">
                        Add Label</button></span>
                </div>
            </div>
            <div ng-show="user.id < 3 || user.id == 20" class="row form-group">
                <div class="col-xs-12"><div class="checkbox-inline">
                        <label><input ng-model="editTerrain" type="checkbox">&nbsp;Terrain Edit Mode</label>
                </div></div>
            </div>
            <div ng-show="editTerrain" class="well">
                <div class="row form-group">
                    <div class="col-xs-4">
                        <input class="form-control input-sm text-center" type="text" ng-model="lockedElevation"
                            ng-disabled="!lockElevation" id="inputLockedElevation" placeholder="elevation">
                    </div>
                    <div class="col-xs-6 hard-left">
                        <div class="checkbox-inline"><label>
                            <input ng-disabled="brushSize > 0" ng-model="lockElevation" type="checkbox">
                            &nbsp;Fixed Elevation</label></div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        Size: {{ brushSize * 2 + 1 }}&emsp;&emsp;<input type="text" class="brush-slider" value=""
                            data-slider-handle="square" data-slider-min="0" data-slider-max="3"
                            data-slider-selection="none" data-slider-value="0" data-slider-tooltip="hide">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        <div class="checkbox-inline"><label>
                            <input ng-disabled="brushSize < 1" ng-model="smoothTerrain" 
                                   type="checkbox">&nbsp;Smooth Area
                        </label></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" ng-click="saveTerrain()">Save Terrain</button>
                    </div>
                </div>
            </div>
            <button ng-show="user.id < 3" class="btn btn-danger" ng-click="reset()">Reset</button>
            <button ng-show="user.id < 3" class="btn btn-warning" ng-click="drawIso()">Iso</button>
            <button class="btn btn-default btn-sm" ng-click="showCommits = !showCommits">
                {{ showCommits | iif : 'Hide' : 'Show' }} Changelog</button>
        </div>
    </div>
</div>