<div class="navbar" ng-include="'partials/navbar.html'"></div>
<!-- Canvases/9grid -->
<div id="mainContainer" class="container">
    <div class="canvas-container side">
        <div id="minimap">
            <canvas id="fullTerrainCanvas" width="300" height="300"></canvas> <!-- Terrain canvas -->
            <canvas id="fullFogCanvas" width="300" height="300"></canvas> <!-- Fog canvas -->
            <canvas id="fullObjectCanvas" width="300" height="300"></canvas> <!-- Object canvas -->
            <canvas id="fullPingCanvas" width="300" height="300"></canvas> <!-- Ping canvas -->
            <canvas id="fullHighCanvas" width="300" height="300"> <!-- Highlight canvas -->
                Your browser doesn't support canvases. <a href="http://www.google.com/chrome">Get a better one.</a>
            </canvas>
        </div>
        <div id="eventCanvases" ng-show="inEvent && !inEventTutorial">
            <canvas id="eventLowCanvas" width="300" height="300"></canvas> <!-- Event low canvas -->
            <canvas id="eventMainCanvas" width="300" height="300"></canvas> <!-- Event main canvas -->
            <canvas id="eventHighCanvas" width="300" height="300"></canvas> <!-- Event high canvas -->
        </div>
        <div id="eventTutorial" ng-show="inEventTutorial">
            <img src="" id="tutorialImage" width="300" height="300" ng-src="img/{{ event.type || 'loading' }}.png" />
        </div>
        <table ng-hide="inEvent" id="gridView"><tr ng-repeat="row in ['536','201','748']">
            <td ng-repeat="col in row.split('')" ng-class="onPixel.objects[col].type" ng-click="activateObject(col)">
                {{ onPixel.objects[col] | itemDisplay }}</td>
        </tr></table>
    </div>
    <div class="canvas-container"> <!-- Right side canvases -->
        <div id="zoomCanvases">
            <canvas id="zoomTerrainCanvas" width="900" height="600"></canvas> <!-- Terrain canvas -->
            <canvas id="zoomFogCanvas" width="900" height="600"></canvas> <!-- Fog canvas -->
            <canvas id="zoomObjectCanvas" width="900" height="600"></canvas> <!-- Object canvas -->
            <canvas id="zoomHighCanvas" width="900" height="600"></canvas> <!-- Highlight canvas -->
        </div>
        <div ng-show="userInit && terrainReady && user.camp" id="controls">
            <div ng-class="{ invisible: !moving && !looking }" class="progress">
                <div class="progress-bar" ng-style="{width: waitProgress+'%'}"></div></div>
            <button ng-disabled="moving || looking" ng-click="movePlayer(0)" class="btn btn-default" id="moveUp">
                <i class="glyphicon glyphicon-arrow-up"></i></button>
            <button ng-hide="movePath.length == 0 || moving" ng-click="movePlayer('undo')"
                    class="btn btn-default btn-sm" id="moveUndo">
                <i class="glyphicon glyphicon-repeat icon-flipped"></i></button>
            <button ng-disabled="moving || looking" ng-click="movePlayer(1)" class="btn btn-default" id="moveLeft">
                <i class="glyphicon glyphicon-arrow-left"></i></button>
            <button ng-show="movePath.length > 0" ng-click="movePlayer('startStop')"
                    class="btn btn-default" id="moveStartStop">{{ moving | iif : 'Stop' : 'Go' }}</button>
            <button ng-show="movePath.length == 0" ng-disabled="looking || cantLook || onPixel.camp"
                    ng-click="lookAround()" class="btn btn-default" id="lookAround">Look</button>
            <button ng-disabled="moving || looking" ng-click="movePlayer(2)" class="btn btn-default" id="moveRight">
                <i class="glyphicon glyphicon-arrow-right"></i></button>
            <button ng-disabled="moving || looking" ng-click="movePlayer(3)" class="btn btn-default" id="moveDown">
                <i class="glyphicon glyphicon-arrow-down"></i></button>
            <button ng-hide="movePath.length == 0 || moving" ng-click="movePlayer('clear')"
                    class="btn btn-default btn-sm" id="moveClear">Clear</button>
        </div>
        <div class="col-xs-1 text-right hard-right pull-right coords">
            {{ overPixel.x }} , {{ overPixel.y }}
        </div>
        <div class="col-xs-3 text-right pull-right coords">
            <input type="text" class="zoom-slider" value="" data-slider-handle="square" data-slider-min="0"
                data-slider-max="6" data-slider-selection="none" data-slider-value="4" data-slider-tooltip="hide">
        </div>
        <div class="col-xs-2 text-right pull-right coords">
            <div class="checkbox-inline text-muted"><label>
                <input ng-change="refresh()" ng-model="showLabels" type="checkbox"> Show Labels
            </label></div>
        </div>
        <div class="col-xs-2 text-right pull-right hard-right coords">
            <div class="checkbox-inline text-muted"><label>
                <input ng-change="refresh()" ng-model="showObjects" type="checkbox"> Show Objects
            </label></div>
        </div>
        <div class="col-xs-2 hard-left pull-left coords">
            <span class="text-muted">Terrain:</span> {{ overPixel.type | capitalize }}
        </div>
        <div class="col-xs-2 hard-left pull-left coords">
            <span class="text-muted">Elevation:</span> {{ overPixel.elevation }}
        </div>
    </div>
</div>
<div id="uiContainer" ng-show="userInit && terrainReady" class="container">
    <div class="row">
        <!-- Info/event/stats -->
        <div id="info" class="col-xs-3" ng-include="'partials/info.html'"></div>
        <div class="col-xs-6" ng-hide="user.camp"></div>
        <!-- Inventory -->
        <div id="location" class="col-xs-3" ng-include="'partials/location.html'" ng-show="user.camp"></div>
        <!-- Inventory -->
        <div id="inventory" class="col-xs-3" ng-include="'partials/inventory.html'" ng-show="user.camp"></div>
        <div class="col-xs-3">
            <!-- Object Info -->
            <div id="objectInfo" ng-show="selectedObject" ng-include="'partials/object-info.html'"></div>
            <div style="margin-bottom: 8px;" ng-include="'partials/misc.html'"></div>
            <button class="btn btn-default btn-sm" ng-click="showCommits = !showCommits">
                {{ showCommits | iif : 'Hide' : 'Show' }} Changelog</button>
        </div>
    </div>
</div>