<div class="navbar" ng-include="'partials/navbar.html'"></div>
<!-- Canvases/9grid -->
<div id="mainContainer" class="container">
    <div class="canvas-container side">
        <div id="minimap">
            <canvas id="fullTerrainCanvas" width="300" height="300"></canvas> <!-- Terrain canvas -->
            <canvas id="fullFogCanvas" width="300" height="300"></canvas> <!-- Fog canvas -->
            <canvas id="fullObjectCanvas" width="300" height="300"></canvas> <!-- Object canvas -->
            <canvas id="fullPingCanvas" width="300" height="300"></canvas> <!-- Ping canvas -->
            <canvas id="fullHighCanvas" width="300" height="300"> <!-- Highlight canvas -->
                Your browser doesn't support canvases. <a href="http://www.google.com/chrome">Get a better one.</a>
            </canvas>
        </div>
        <div id="eventCanvases" ng-show="inEvent && !inEventTutorial">
            <canvas id="eventLowCanvas" width="300" height="300"></canvas> <!-- Event low canvas -->
            <canvas id="eventMainCanvas" width="300" height="300"></canvas> <!-- Event main canvas -->
            <canvas id="eventHighCanvas" width="300" height="300"></canvas> <!-- Event high canvas -->
        </div>
        <div id="eventTutorial" ng-show="inEventTutorial">
            <img src="" id="tutorialImage" width="300" height="300" ng-src="img/{{ event.type || 'loading' }}.png" />
        </div>
        <table ng-hide="inEvent" id="gridView"><tr ng-repeat="row in ['536','201','748']">
            <td ng-repeat="col in row.split('')" ng-click="activateObject(col)"
                ng-class="[onPixel.objects[col].type, 
                !onPixel.objects[col].activity || onPixel.objects[col].abundance >= 0.02 || 'dry']">
                {{ onPixel.objects[col] | itemDisplay }}
                <div class="progress" ng-show="onPixel.objects[col].activity">
                    <div class="progress-bar full" ng-style="{width: onPixel.objects[col].abundance*100+'%'}"></div>
                </div>
            </td>
        </tr></table>
    </div>
    <div class="canvas-container"> <!-- Right side canvases -->
        <div id="zoomCanvases">
            <canvas id="zoomTerrainCanvas" width="900" height="600"></canvas> <!-- Terrain canvas -->
            <canvas id="zoomFogCanvas" width="900" height="600"></canvas> <!-- Fog canvas -->
            <canvas id="zoomObjectCanvas" width="900" height="600"></canvas> <!-- Object canvas -->
            <canvas id="zoomHighCanvas" width="900" height="600"></canvas> <!-- Highlight canvas -->
        </div>
        <!-- Canvas/Movement Controls -->
        <div ng-include="'partials/controls.html'" onload="attachControls()"></div>
    </div>
</div>
<div id="uiContainer" ng-show="userInit && terrainReady" class="container">
    <div class="row">
        <!-- Info/Event/Stats -->
        <div id="info" class="col-xs-3" ng-include="'partials/info.html'"></div>
        <div class="col-xs-6" ng-hide="user.camp"></div>
        <!-- Inventory -->
        <div id="location" class="col-xs-3" ng-include="'partials/location.html'" ng-show="user.camp"></div>
        <!-- Inventory -->
        <div id="inventory" class="col-xs-3" ng-include="'partials/inventory.html'" ng-show="user.camp"></div>
        <div class="col-xs-3">
            <!-- Object Info -->
            <div id="objectInfo" ng-show="selectedObject" ng-include="'partials/object-info.html'"></div>
            <!-- Misc Stuff -->
            <div ng-include="'partials/misc.html'"></div>
        </div>
    </div>
</div>