<div class="container">
    <div class="navbar-header"><h1><a href="#"><span class="geographr-color">Geographr</span></a>  <small>
        v{{ version }} - "{{ versionName }}"&emsp;&mdash;&emsp;Server status:
        <strong ng-class="{'text-success': serverStatus == 'online', 'text-danger': serverStatus != 'online'}">
            {{ serverStatus | capitalize }}</strong></small></h1></div>
    <div class="navbar-collapse collapse">
        <p ng-show="needUpdate" class="navbar-right text-warning">Your version is <strong>out of date!</strong> Please press <strong>shift+F5</strong>. <small>If that doesn't work, Vegeta probably locked the app.</small></p>
        <p class="navbar-right" ng-show="userInit">Welcome back, <strong class="text-info">{{ user.nick }}</strong> &mdash; <a href="#" ng-click="logOut()">Log out</a></p>
        <form ng-show="!user && authStatus" class="navbar-form navbar-right" data-login-form="{{ authStatus }}" id="loginForm" ng-disabled="authStatus=='logging'" ng-submit="authenticate(loginEmail,loginPassword)">
            <div class="form-group">
                <input ng-model="loginEmail" ng-disabled="authStatus=='logging'" id="inputLoginUser" type="email" placeholder="user@example.com" class="form-control">
            </div>
            <div class="form-group">
                <input ng-model="loginPassword" ng-disabled="authStatus=='logging'" id="inputLoginPass" type="password" placeholder="password" class="form-control">
            </div>
            <button ng-disabled="authStatus=='logging'" id="loginSubmit" type="submit" class="btn btn-success">Log In / Register</button>
        </form>
    </div><!--/.navbar-collapse -->
</div>